<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Grad School HTML5 Template</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Additional CSS Files -->

    <link rel="stylesheet" href="~/css/templatemo-grad-school.css">

</head>

<body>




    <!-- ***** Main Banner Area Start ***** -->

    <section class="section main-banner" id="top" data-section="section1" style="height:570px">

        <video autoplay muted loop id="bg-video">
            <source src="~/img/course-video.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>Πανεπιστήμιο Πειραιώς</h6>
                <h2><em>Πυλη</em> Φοιτητολογιου</h2>
            </div>
        </div>
    </section>



    <!-- ***** Main Banner Area End ***** -->


    <section class="features">
        <div class="container ">

            <div class="row">

                <div class="justify-content-center">
                    <div class="features-post second-features">
                        <div class="features-content">
                            <div class="content-show" style="text-align:center">
                                <h4><i class="fa fa-graduation-cap"></i>Δυνατότητες Εφαρμογής</h4>
                            </div>
                            <div class="content-hide" style="text-align:left">
                                <p>Σε αυτή την εφαρμογή οι φοιτητές τμημάτων πληροφορικής μετά την είσοδο τους στην εφαρμογή χρησιμοποιόντας τα ακαδημαικά τους στοιχεία (τον Αριθμό Μητρώου και κωδικό πρόσβασης τους) εχουν τις εξής δυνατότητες: <br />
                                    1)Να διαβάσουν αναλυτικά για όλες τις προτεινόμενες κατευθύνσεις και τα πιο βασικά μαθήματα που χρειάζεται να εχει παρακολουθήσει καποιος δίνοντας έμφαση στα μαθησιακά αποτελέσματα τους και τα Hard και Soft skills ώστε να ακολουθήσει την συγκεκριμένη κατεύθυνση.<br />
                                    2)Να σημπληρώσουν μερικά quiz για κάθε κατεύθυνση καθώς και επαναληπτικά quiz και να δει τα αποτελέσματα του.<br />
                                    3)Να καταχωρήσει τους βαθμούς που έχει λάβει μετα την παρακολούθηση κάποιου μαθήματος απο τα αναφερόμενα στο τμήμα που σπουδάζει η εχει αποφοιτήσει.<br />
                                    4)Να σημπληρώσει ενα quiz με γενίκες ερωτήσεις ώστε να προσκομηθούν οι προτιμήσεις του και στη συνέχεια να δεί τα αποτελέσματα του απο το αυτόματο σύστημα συστάσεων με τις προτεινόμενες κατεύθυνσεις που θα πρέπει να ακολουθήσει για μεταπτυχιακές σπουδές.Τα αποτελέσματα του προκύπτουν απο τις απαντησεις στο quiz προτιμήσεων, τα quiz κατευθύνσεων, την κίνηση που έχει κάθε κατεύθυνση απο τον φοιτητή και τέλος απο τους βαθμούς που καταχώρησε στα μαθήματα.
                                    </p>

                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <br />
    <br />
    <br />
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/video.js"></script>
    <script src="~/js/slick-slider.js"></script>
    <script src="~/js/custom.js"></script>

</body>
</html>