<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/home/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/modalstyle.css">
    <style>

        #myButton {
            cursor: pointer;
        }

            #myButton:hover {
                background-color: #f6f6f6;
            }

            #myButton:focus {
                outline: none;
            }

        .container {
            display: flex;
        }

            .container img {
                width: 120px; /* adjust the size of the image as needed */
                height: 120px;
                margin-right: 20px; /* adjust the spacing between the image and paragraph */
            }

        .header {
            font-family: 'Segoe UI';
            font-style: italic;
            font-size: 19px;
            display: inline-block; /* Add display property */
            border-bottom: 2px solid #0D76FC; /* Border bottom instead of underline */
            padding-bottom: 2px;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body id="page-top">


    <!-- Hidden modal for  Network Security lesson -->

      <div class="modal fade" id="NetworkSecurityLesson" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header py-2 text-center" style="background-color:#f6f6f6;">
               
                    <h5 class="modal-title w-100 m-0 font-weight-bold text-primary " style="text-align:center" id="exampleModalCenterTitle">Ασφάλεια Δικτύων</h5>       

                    <button type="button" class="btn-close align-content-end" data-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body" >
                    <strong >Μαθησιακά Αποτελέσματα</strong>
                    <br /><br>
                  
                    Μετά την ολοκλήρωση του μαθήματος οι φοιτητές θα είναι σε θέση:<br>
                    1. Να κατανοούν βασικές εννοιών ασφάλειας σε όλα τα επίπεδα των υπολογιστικών δικτύων
                    με έμφαση στα TCP/IP δίκτυα.<br>
                    2. Να διακρίνουν τα τρωτά σημεία στα συστήματα αυτά.<br>
                    3. Να προβλέπουν τυχόν αδυναμίες και αστοχίες.<br>
                    4. Να αναζητούν και να εφευρίσκουν/ανακαλύπτουν τρόπους επίλυσης/διαχείρισης για την
                    περιστολή των τρωτών σημείων.<br>
                    5. Να σχεδιάζουν, λαμβάνοντας υπόψη την ανάλυση των δεδομένων, νέες τεχνικές/μεθόδους.<br>
                    6. Να προχωρούν σε πρακτική εφαρμογή συστημάτων ασφάλειας δικτύων, με έμφαση στη
                    χρήση ελεύθερου λογισμικού / λογισμικού ανοικτού κώδικα.<br>
                    <br /><br />

                   
                        <table class="table table-striped table-bordered center" style="width:70%; text-align:center;" id="DT_load">

                        <thead>
                            <tr>
                                <th>
                                    Hard Skills
                                </th>
                                <th>
                                    Soft Skills
                                </th>
                            </tr>

                        </thead>

                        <tr>
                            <td>
                                Κατανόηση πρωτοκόλλων ασφαλείας δικτύων
                            </td>
                            <td>
                                Κριτική σκέψη
                            </td> 
                        </tr>

                        <tr>
                            <td>
                                Κατανόηση κρυπτογραφημενων αλγορίθμων
                            </td>
                            <td>
                                Διαχείριση χρόνου
                            </td>    
                        </tr>
                        <tr>
                            <td>
                                Αξιολόγηση και δοκιμή της ασφάλειας δικτύων
                            </td>
                            <td>
                                Κρίση και λήψη αποφάσεων
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Κατανόηση των απειλών των δικτύων
                            </td>
                            <td>
                                Επικοινωνία
                            </td>
                        </tr>
                    </table>               
                   
                </div>
                
            </div>
        </div>
    </div>


    <!-- Hidden modal for Information Systems Security lesson -->
   
    <div class="modal fade" id="InformationSystemsSecurityLesson" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header py-2 text-center" style="background-color:#f6f6f6;">
               
                    <h5 class="modal-title w-100 m-0 font-weight-bold text-primary " style="text-align:center" id="exampleModalCenterTitle">Ασφάλεια Πληροφοριακών Συστημάτων</h5>

                    <button type="button" class="btn-close align-content-end" data-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body" >
                    <strong >Μαθησιακά Αποτελέσματα</strong>
                    <br /><br>
                    Με την ολοκλήρωση του μαθήματος οι φοιτητές θα μπορούν να:<br />
                    1. Αναγνωρίζουν και να κατανοούν το περιεχόμενο των απαιτήσεων ασφάλειας πληροφοριακών συστημάτων σε όλο των κύκλο ζωής τους.<br />
                    2. Αντιλαμβάνονται και να εντοπίζουν τα θεωρητικά και πρακτικά ζητήματα ασφάλειας πληροφοριακών συστημάτων.<br />
                    3. Κατανοούν τα δομικά και λειτουργικά χαρακτηριστικά των κρυπτογραφικών συστημάτων.<br />
                    4. Εμβαθύνουν σε βασικούς τομείς του πεδίου αυτού και να υλοποιούν (μέσω προσομοίωσης) τεχνικές ή εφαρμογές σε δεδομένες καταστάσεις απειλών ή κινδύνων.<br />
                    5. Εφαρμόζουν πρακτικά τεχνολογίες ασφάλειας πληροφοριακών συστημάτων σε πραγματικές συνθήκες.<br />
                    6. Σχεδιάζουν νέες εφαρμογές και να επεκτείνουν τις ήδη υπάρχουσες.<br />
                    7. Διαχειρίζονται απειλές και κινδύνους στα πληροφοριακά συστήματα με κριτική, δημιουργική και ερευνητική διάθεση για την εξεύρεση λύσεων.<br />
                    <br /><br />

                   
                        <table class="table table-striped table-bordered center" style="width:70%; text-align:center;" id="DT_load">

                        <thead>
                            <tr>
                                <th>
                                    Hard Skills
                                </th>
                                <th>
                                    Soft Skills
                                </th>
                            </tr>

                        </thead>

                        <tr>
                            <td>
                                Ανάλυση και αντιμετώπιση απειλών ασφαλείας σε πληροφοριακά συστήματα
                            </td>
                            <td>
                                Κριτική σκέψη
                            </td> 
                        </tr>

                        <tr>
                            <td>
                                Εφαρμογή και ρύθμιση τεχνικών προστασίας σε πληροφοριακά συστήματα
                            </td>
                            <td>
                                Κρίση και λήψη αποφάσεων
                            </td>    
                        </tr>
                        <tr>
                            <td>
                                Γνώση των βασικών αρχών και μεθόδων πληροφοριακής ασφάλειας
                            </td>
                            <td>
                                Ομαδικότητα
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ανάλυση και ερμηνεία αρχείων καταγραφής συμβάντων
                            </td>
                            <td>
                                Επικοινωνία
                            </td>
                        </tr>
                    </table>
                  
                
                   
                </div>
                
            </div>
        </div>
    </div>

    <!-- Hidden modal for Cryptography Lesson -->
 
    <div class="modal fade" id="CryptographyLesson" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header py-2 text-center" style="background-color:#f6f6f6;">
               
                    <h5 class="modal-title w-100 m-0 font-weight-bold text-primary " style="text-align:center" id="exampleModalCenterTitle">Κρυπτογραφία</h5>

                    <button type="button" class="btn-close align-content-end" data-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body" >
                    <strong >Μαθησιακά Αποτελέσματα</strong>
                    <br /><br>

                    Μετά την επιτυχή ολοκλήρωση του μαθήματος, οι φοιτητές θα είναι σε θέση:<br />
                    1. Να αξιολογήσουν την ασφάλεια που προσφέρει ένας αλγόριθμος κρυπτογράφησης.<br />
                    2. Να διακρίνουν και να κατηγοριοποιούν τα είδη και τη χρήση των αλγόριθμων<br />
                    3. Να επιλέξουν τον κατάλληλο αλγόριθμο και να διακρίνουν τις παραμέτρους της ορθής ταση
                    λειτουργίας του για την επιτυχή εφαρμογή του.<br />
                    4. Να υλοποιήσουν έναν αλγόριθμο κρυπτογράφησης.<br />
                    5. Να κατανοούν σε βάθος τις εφαρμογές και τα πρωτόκολλα της κρυπτογραφίας.<br />
                    6. Να γνωρίζουν τις μεθόδους και παραμέτρους σχεδιασμού και ανάπτυξης πρωτοκόλλων.<br />
                    7. Να εντοπίζουν και να αξιολογούν πιθανά κενά ασφάλειας ενός πρωτοκόλλου.<br />
                    8. Να αξιοποιούν όλα τα παραπάνω για την ανάπτυξη και τον έλεγχο προγραμμάτων.<br />
                    <br /><br />

                   
                        <table class="table table-striped table-bordered center" style="width:70%; text-align:center;" id="DT_load">

                        <thead>
                            <tr>
                                <th>
                                    Hard Skills
                                </th>
                                <th>
                                    Soft Skills
                                </th>
                            </tr>

                        </thead>

                        <tr>
                            <td>
                                Κατανόηση των βασικών αρχών της κρυπτογραφίας
                            </td>
                            <td>
                                Αναλυτική σκέψη
                            </td> 
                        </tr>

                        <tr>
                            <td>
                                Γνώση και εφαρμογή των συμμετρικών κρυπτογραφικών αλγορίθμων
                            </td>
                            <td>
                                Προσοχή στη λεπτομέρεια
                            </td>    
                        </tr>
                        <tr>
                            <td>
                                Ανάλυση και αξιολόγηση της ασφάλειας κρυπτογραφικών αλγορίθμων και πρωτοκόλλων.
                            </td>
                            <td>
                                Λογική σκέψη
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Εφαρμογή και χρήση κρυπτογραφικών βιβλιοθηκών και εργαλείων για την ανάπτυξη ασφαλών συστημάτων.
                            </td>
                            <td>
                                Επικοινωνία
                            </td>
                        </tr>
                    </table>
                  
                </div>
                
            </div>
        </div>
    </div>

    <!-- Hidden modal for Code Theory lesson -->

    <div class="modal fade" id="CodeTheoryLesson" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header py-2 text-center" style="background-color:#f6f6f6;">
               
                    <h5 class="modal-title w-100 m-0 font-weight-bold text-primary " style="text-align:center" id="exampleModalCenterTitle">Θεωρία Πληροφοριών και Κωδίκων</h5>

                    <button type="button" class="btn-close align-content-end" data-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body" >
                    <strong >Μαθησιακά Αποτελέσματα</strong>
                    <br /><br>
                  
                    Με την επιτυχή ολοκλήρωση του μαθήματος ο φοιτητής/φοιτήτρια θα είναι σε θέση να:<br />
                    1. Κατανοήσει τη θεωρία κωδίκων.<br />
                    2. Ταξινομήσει τις εκφάνσεις τους (είδη).<br />
                    3. Εμβαθύνει στη θεωρία τους για μελλοντική αξιοποίησή της στο πλαίσιο του σχεδιασμού,
                    της ανάπτυξης και της εφαρμογής του κατάλληλου για κάθε περίσταση κώδικα.<br />
                    4. Διερευνήσει τις εναλλακτικές κωδικοποίησης.<br />
                    5. Αξιολογήσει την ποσότητα πληροφορίας που μπορεί να μεταφερθεί από ένα κανάλι
                    επικοινωνίας.<br />
                    6. Να αξιολογήσει την τυχαιότητα μιας πηγής.<br />
                    7. Να υλοποιήσει αλγορίθμους συμπίεσης.<br />
                    8. Να εντοπίσει και να διορθώσει τυχαία σφάλματα σε ένα σήμα κατά τη μεταφορά του.<br />
                    9. Να εντοπίσει και να διορθώσει τυχαία σφάλματα σε ένα σύστημα αρχείων λόγω φυσικής
                    φθοράς.<br />
                    <br /><br />

                   
                        <table class="table table-striped table-bordered center" style="width:70%; text-align:center;" id="DT_load">

                        <thead>
                            <tr>
                                <th>
                                    Hard Skills
                                </th>
                                <th>
                                    Soft Skills
                                </th>
                            </tr>

                        </thead>

                        <tr>
                            <td>
                                Γνώση των βασικών αρχών της θεωρίας πληροφοριών
                            </td>
                            <td>
                                Κριτική σκέψη
                            </td> 
                        </tr>

                        <tr>
                            <td>
                                Κατανόηση και εφαρμογή των αρχών της κωδικοποίησης πηγής
                            </td>
                            <td>
                                Συνεργατικότητα
                            </td>    
                        </tr>
                        <tr>
                            <td>
                                Εφαρμογή και αξιολόγηση κρυπτογραφικών και αποκωδικοποιητικών αλγορίθμων
                            </td>
                            <td>
                                Επίλυση προβλημάτων
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ανάλυση και σχεδιασμός κωδικών συστημάτων
                            </td>
                            <td>
                                Επικοινωνία
                            </td>
                        </tr>
                    </table>
          
                </div>
                
            </div>
        </div>
    </div>


    <!-- Page Wrapper -->
    <div id="wrapper">


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="background-color:white;">

            <!-- Main Content -->
            <div id="content" style="background-color:white;">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center  justify-content-between mb-1">
                        <h1 class="h2 mb-10 text-gray-800 offset-0">
                            Ειδικός Ασφάλειας και Προστασίας Δεδομένων
                        </h1>
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 10rem;"
                             src="~/img/CybersecuritySpecialist.webp" alt="...">

                    </div>
                    <p align="justify" style="font-family:courier;">
                        Ο Ειδικός Ασφάλειας και Προστασίας Δεδομένων, γνωστός και ως Ειδικός Κυβερνοασφάλειας, είναι επαγγελματίας που εξειδικεύεται στην προστασία των πληροφοριών, δεδομένων και συστημάτων από κυβερνοεπιθέσεις, κακόβουλο λογισμικό και άλλες απειλές στην κυβερνοασφάλεια.

                        Οι ειδικοί αυτοί αναλαμβάνουν να προστατεύσουν τις πληροφορίες και τα δεδομένα που ανήκουν σε μια εταιρεία ή οργανισμό από μη εξουσιοδοτημένη πρόσβαση, κλοπή ή καταστροφή. Αυτό μπορεί να περιλαμβάνει την ανάπτυξη και την εφαρμογή ασφαλών πολιτικών και διαδικασιών, την ανάλυση και την αποτροπή κυβερνοεπιθέσεων, καθώς και την παρακολούθηση και ανίχνευση ασφαλείας συστημάτων.

                        Οι κύριες ευθύνες ενός Ειδικού Ασφάλειας και Προστασίας Δεδομένων περιλαμβάνουν την ανάλυση και αξιολόγηση κινδύνων, την ανάπτυξη και εφαρμογή ασφαλών πρακτικών, την αποκατάσταση και αντίδραση σε παραβιάσεις ασφαλείας και τελος την παροχή εκπαίδευσης και ευαισθητοποίησης στους χρήστες σχετικά με τις βέλτιστες πρακτικές ασφαλείας και την αποτροπή των κυβερνοεπιθέσεων.
                        
                        Συνοψίζοντας η δουλειά του Ειδικού Ασφάλειας και Προστασίας Δεδομένων είναι κρίσιμη για τις εταιρείες και τους οργανισμούς που διαχειρίζονται μεγάλο όγκο πληροφοριών και δεδομένων, εξασφαλίζοντας την εμπιστευτικότητα, την ακεραιότητα και τη διαθεσιμότητά τους.
                    </p>
                    <br>
                    <h4 class="header">Μαθήματα(4)</h4>
                    <br><br>
                    <!-- First Row -->
                    <div class="row">

                        <div class="col-lg-6 mb-4">


                            <div class="card shadow mb-4" id="myButton" data-toggle="modal" data-target="#NetworkSecurityLesson">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">
                                        Ασφάλεια Δικτύων
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/NetworkSecurityLesson.jpg" alt="Your Photo">
                                        <p align="justify">

                                            Το μάθημα Ασφάλεια Δικτύων προσφέρει στον Ειδικό Ασφάλειας και Προστασίας Δεδομένων τις απαραίτητες γνώσεις για την ασφάλεια των
                                            δικτύων. Μέσω αυτού του μαθήματος, αποκτά κατανόηση των απειλών που αντιμετωπίζουν τα δίκτυα και των τεχνικών προστασίας που μπορούν
                                            να χρησιμοποιηθούν για την αντιμετώπισή τους. Μπορεί να μάθει για την ανάλυση ασφαλείας δικτύων, την ανίχνευση και πρόληψη επιθέσεων,
                                            την ασφάλεια των δρομολογητών και των φωτογραφικών δικτύων, καθώς και την εφαρμογή τεχνικών προστασίας δικτύων. Αυτή η γνώση είναι
                                            ουσιώδης για την ασφάλεια και προστασία των δικτύων ,της επικοινωνίας και των δεδομένων που μεταδίδονται μέσω αυτών.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-6 mb-4">


                            <div class="card shadow mb-4" id="myButton" data-toggle="modal" data-target="#InformationSystemsSecurityLesson">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Ασφάλεια Πληροφοριακών Συστημάτων</h6>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/InformationSystemsSecurityLesson.webp" alt="Your Photo">
                                        <p align="justify">
                                            Το μάθημα Ασφάλεια Πληροφοριακών Συστημάτων προσφέρει στον Ειδικό Ασφάλειας και Προστασίας Δεδομένων τις απαραίτητες γνώσεις για την
                                            προστασία των πληροφοριακών συστημάτων. Μέσω αυτού του μαθήματος, αποκτά κατανόηση των απειλών που αντιμετωπίζουν τα πληροφοριακά 
                                            συστήματα και τις τεχνικές προστασίας που μπορούν να χρησιμοποιηθούν για την αντιμετώπισή τους. Μπορεί να μάθει για την επιθετική 
                                            ανάλυση ασφαλείας, την ανίχνευση και απόκριση σε παραβιάσεις, την ανάπτυξη πολιτικών ασφαλείας και την εφαρμογή τεχνολογιών προστασίας 
                                            δεδομένων. Αυτή η γνώση είναι ουσιώδης για την ασφάλεια και προστασία των πληροφοριών και των πληροφοριακών συστημάτων.
                                            <br /><br />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                    <!-- second Row -->
                    <div class="row">




                        <div class="col-lg-6 mb-4">


                            <div class="card shadow mb-4" id="myButton" data-toggle="modal" data-target="#CryptographyLesson">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">
                                        Κρυπτογραφία
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/CryptographyLesson.png" alt="Your Photo">
                                        <p align="justify">
                                            Το μάθημα της κρυπτογραφίας προσφέρει στον Ειδικό Ασφάλειας και Προστασίας Δεδομένων κρίσιμες γνώσεις για την ασφάλεια των δεδομένων.
                                            Μέσω αυτού του μαθήματος, αποκτά κατανόηση των βασικών αρχών της κρυπτογραφίας και των αλγορίθμων κρυπτογράφησης. Μπορεί να μάθει για
                                            τη χρήση συμμετρικών και ασύμμετρων κλειδιών, τη δημιουργία ψηφιακών υπογραφών και την ασφάλεια των πρωτοκόλλων κρυπτογράφησης.
                                            Αυτή η γνώση είναι ουσιώδης για την προστασία των δεδομένων και τη διατήρηση της εμπιστευτικότητας και ακεραιότητας των πληροφοριών
                                            που υπάρχουν σε ένα σύστημα ή δίκτυο.
                                            <br /><br />
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4">


                            <div class="card shadow mb-4" id="myButton" data-toggle="modal" data-target="#CodeTheoryLesson" >
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary " style="text-align:center">
                                        Θεωρία Πληροφοριών και Κωδίκων
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/CodeTheoryLesson.png" alt="Your Photo">
                                        <p align="justify">
                                            Το μάθημα Θεωρία Πληροφοριών και Κωδίκων προσφέρει στον Ειδικό Ασφάλειας και Προστασίας Δεδομένων τις απαραίτητες γνώσεις για τη θεωρητική βάση των πληροφοριών και των κωδίκων.
                                            Μέσω αυτού του μαθήματος, αποκτά κατανόηση των βασικών αρχών της πληροφορικής θεωρίας, όπως η εντροπία, οι πηγές πληροφορίας και οι κωδικοποιητές. Μπορεί να μάθει για τη συμπίεση δεδομένων, την κωδικοποίηση και αποκωδικοποίηση, την ανίχνευση και διόρθωση σφαλμάτων και τη θεωρία των κρυπτογραφικών κωδίκων. 
                                            Αυτή η γνώση είναι ουσιώδης για την κατανόηση των αλγορίθμων και των μεθόδων που χρησιμοποιούνται για την ασφάλεια και προστασία των δεδομένων.
                                            <br />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <div class=" align-bottom h4 " style="text-align:center">
        <button class=" alert-success" onclick="window.location.href = '/Students/CyberSecurityQuiz'">Κάνε το quiz! </button>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="~/js/home/vendor/jquery/jquery.min.js"></script>
    <script src="~/js/home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>




    <!-- Page level plugins -->
    <script src="~/js/home/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/home/chart-area-demo.js"></script>
    <script src="~/js/home/chart-pie-demo.js"></script>







</body>

</html>

