<style>
    #result-container {
        display: flex;
        justify-content: center;
    }

    #resultQuestion1 {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        color: white;
        padding:5px;
    }
       #resultQuestion2 {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        color: white;
        padding:5px;
    }
       #resultQuestion3 {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        color: white;
        padding:5px;
    }
       #resultQuestion4 {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        color: white;
        padding:5px;
    }

    #resultQuestion5 {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        color: white;
        padding: 5px;
    }

    .hidden-header {
        display: none;
        font-weight: bold;
        font-size:20px;
        color: black;
        padding: 5px;
    }

    .hidden {
        display: none;
    }

</style>

<div class="mx-0 mx-sm-5">
    <div class="card">
        <div class="modal-header py-2 text-center " style="background-color:#f3f3f3;">
            <h5 class="modal-title w-100 m-0 font-weight-bold text-primary " style="text-align:center">Quiz Κατεύθυνσης "Ειδικός Ασφάλειας και Προστασίας Δεδομένων"</h5>
        </div>
        <div class="card-body">

            <form class="px-4" action="">
                <p><strong>Ποιό απο τα παρακάτω είναι μαθησιακό αποτέλεσμα του μαθήματος "Ασφάλεια Πληροφοριακών Συστημάτων"; </strong></p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm1" id="radio1Question1" />
                    <label class="form-check-label" for="radio1Question1">
                         Γνώση σχεσιακής άλγεβρας
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm1" id="radio2Question1" />
                    <label class="form-check-label" for="radio2Question1">
                        Σχεδιασμός πληροφοριακών συστημάτων
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm1" id="radio3Question1" />
                    <label class="form-check-label" for="radio3Question1">
                        Γνώση Θεωρίας πιθανοτήτων
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm1" id="radio4Question1" />
                    <label class="form-check-label" for="radio4Question1">
                        Αναγνώριση απειλών και επιθέσεων
                    </label>
                </div>

            
                <div id="result-container">
                    <div id="resultQuestion1"  class="px-4"></div>
                </div>

            </form>


            <hr />

            <form class="px-4" action="">
                <p>
                    <strong> Ποιο απο τα παρακάτω μαθήματα χρειάζεται για την καριέρα του Ειδικoύ Ασφάλειας και Προστασίας Δεδομένων; </strong>
                </p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm2" id="radio1Question2" />
                    <label class="form-check-label" for="radio1Question2">
                        Στατιστική
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm2" id="radio2Question2" />
                    <label class="form-check-label" for="radio2Question2">
                        Ασφάλεια Δικτύων
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm2" id="radio3Question2" />
                    <label class="form-check-label" for="radio3Question2">
                        Αλληλεπίδραση Ανθρώπου Υπολογιστή
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm2" id="radio4Question2" />
                    <label class="form-check-label" for="radio4Question2">
                         Αντικειμενοστρεφής Προγραμματισμός
                    </label>
                </div>

                <div id="result-container">
                    <div id="resultQuestion2" class="px-4"></div>
                </div>
            </form>


            <hr />

            <form class="px-4" action="">
                <p >
                    <strong> Ποιες ικανότητες απαιτούνται για τον Ειδικό Ασφάλειας και Προστασίας Δεδομένων; </strong>
                </p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm3" id="radio1Question3" />
                    <label class="form-check-label" for="radio1Question3">
                        Κατανόηση της θεωρίας κωδίκων.
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm3" id="radio2Question3" />
                    <label class="form-check-label" for="radio2Question3">
                        Γνώση αλγορίθμων κρυπτογράφησης
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm3" id="radio3Question3" />
                    <label class="form-check-label" for="radio3Question3">
                        Διαχειρίση απειλών και κινδύνων στα πληροφοριακά συστήματα
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm3" id="radio4Question3" />
                    <label class="form-check-label" for="radio4Question3">
                        Ολα τα παραπάνω
                    </label>
                </div>


                <div id="result-container">
                    <div id="resultQuestion3" class="px-4"></div>
                </div>
            </form>

            <hr />

            <form class="px-4" action="">
                <p >
                    <strong> Ποιες είναι οι προαπαιτούμενες γνώσεις για το μάθημα "Κρυπτογραφία";</strong>
                </p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm4" id="radio1Question4" />
                    <label class="form-check-label" for="radio1Question4">
                        Γνώση SQL
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm4" id="radio2Question4" />
                    <label class="form-check-label" for="radio2Question4">
                        Εφαρμογή στατιστικών μεθόδων
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm4" id="radio3Question4" />
                    <label class="form-check-label" for="radio3Question4">
                        Γνώση κρυπτογραφικών αλγορίθμων
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm4" id="radio4Question4" />
                    <label class="form-check-label" for="radio4Question4">
                        Κατανόηση των απειλών των δικτύων
                    </label>
                </div>


                <div id="result-container">
                    <div id="resultQuestion4" class="px-4"></div>
                </div>
            </form>

            <hr />

            <form class="px-4" action="">
                <p >
                    <strong> Ποια είναι τα κύρια στάδια ενός Ειδικού Ασφάλειας και Προστασίας Δεδομένων;</strong>
                </p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm5" id="radio1Question5" />
                    <label class="form-check-label" for="radio1Question5">
                        Ανάλυση,Σχεδιασμός,Εφαρμογή,Αξιολόγηση,Βελτίωση
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm5" id="radio2Question5" />
                    <label class="form-check-label" for="radio2Question5">
                        Σχεδιασμός,Εφαρμογή,Ανάλυση,Αξιολόγηση,Βελτίωση
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm5" id="radio3Question5" />
                    <label class="form-check-label" for="radio3Question5">
                        Ανάλυση, επίλυση, αξιολόγηση, αναφορά
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input"  type="radio" name="exampleForm5" id="radio4Question5" />
                    <label class="form-check-label" for="radio4Question5">
                        Εξόρυξη, προεπεξεργασία, οπτικοποίηση, αξιολόγηση
                    </label>
                </div>


                <div id="result-container">
                    <div id="resultQuestion5" class="px-4"></div>
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <button type="button" id="hide-button" class="btn btn-primary" onclick="submitForm()">Υποβολή Απαντήσεων</button>
           
            <header class="hidden-header " id="hidden-header">
                
            </header>
        </div>

    </div>
</div>

<form action="DataScientistQuiz" method="post">
    <div class=" align-bottom h4 " style="text-align:center">
        <input hidden id="score" name="score">
        <button id="hiddenButtonProceed" style="display: none;" class=" alert-info" onClick="submitForm()">Συνέχεια</button>
    </div>
</form>
<script>
    function hideButton() {
        var button = document.getElementById('hide-button');
        button.classList.add('hidden');
    }
    function showHiddenHeader(perc) {
        var header = document.getElementById('hidden-header');
        header.innerHTML = perc + "%";
        header.style.backgroundColor = "lightblue";
        header.style.display = 'block';
        
    }
    function disableAllRadioButtons() {
        var radioButtons = document.querySelectorAll('input[type="radio"]');
        for (var i = 0; i < radioButtons.length; i++) {
            radioButtons[i].disabled = true;
        }
    }

    function submitForm() {
        // Retrieve selected answer
        var selectedOptionQuestion1 = document.querySelector('input[name="exampleForm1"]:checked');
        var selectedOptionQuestion2 = document.querySelector('input[name="exampleForm2"]:checked');
        var selectedOptionQuestion3 = document.querySelector('input[name="exampleForm3"]:checked');
        var selectedOptionQuestion4 = document.querySelector('input[name="exampleForm4"]:checked');
        var selectedOptionQuestion5 = document.querySelector('input[name="exampleForm5"]:checked');

        // Check if an option is selected
        if (!selectedOptionQuestion1 || !selectedOptionQuestion2 || !selectedOptionQuestion3 || !selectedOptionQuestion4 || !selectedOptionQuestion5) {
           
            alert("Παρακαλώ απαντήστε σε όλες τις ερωτήσεις");
            
        } else {
            var selectedValueQuestion1 = selectedOptionQuestion1.id;
            var selectedValueQuestion2 = selectedOptionQuestion2.id;
            var selectedValueQuestion3 = selectedOptionQuestion3.id;
            var selectedValueQuestion4 = selectedOptionQuestion4.id;
            var selectedValueQuestion5 = selectedOptionQuestion5.id;

            var score= 0;
            if (selectedValueQuestion1 == "radio4Question1") {
                score++;
                document.getElementById("resultQuestion1").innerHTML = "Correct answer!";
                document.getElementById("resultQuestion1").style.backgroundColor = "green";

            }else{
                document.getElementById("resultQuestion1").innerHTML = "Wrong answer! The correct answer is Option 4";
                document.getElementById("resultQuestion1").style.backgroundColor = "red";
            }

            if (selectedValueQuestion2 == "radio2Question2") {
                score++;
                document.getElementById("resultQuestion2").innerHTML = "Correct answer!";
                document.getElementById("resultQuestion2").style.backgroundColor = "green";

            }else{
                document.getElementById("resultQuestion2").innerHTML = "Wrong answer! The correct answer is Option 2";
                document.getElementById("resultQuestion2").style.backgroundColor = "red";
            }

            if (selectedValueQuestion3 == "radio4Question3") {
                score++;
                document.getElementById("resultQuestion3").innerHTML = "Correct answer!";
                document.getElementById("resultQuestion3").style.backgroundColor = "green";

            }else{
                document.getElementById("resultQuestion3").innerHTML = "Wrong answer! The correct answer is Option 4";
                document.getElementById("resultQuestion3").style.backgroundColor = "red";
            }

            if (selectedValueQuestion4 == "radio3Question4") {
                score++;
                document.getElementById("resultQuestion4").innerHTML = "Correct answer!";
                document.getElementById("resultQuestion4").style.backgroundColor = "green";

            }else{
                document.getElementById("resultQuestion4").innerHTML = "Wrong answer! The correct answer is Option 3";
                document.getElementById("resultQuestion4").style.backgroundColor = "red";
            }

            if (selectedValueQuestion5 == "radio1Question5") {
                score++;
                document.getElementById("resultQuestion5").innerHTML = "Correct answer!";
                document.getElementById("resultQuestion5").style.backgroundColor = "green";

            }else{
                document.getElementById("resultQuestion5").innerHTML = "Wrong answer! The correct answer is Option 1";
                document.getElementById("resultQuestion5").style.backgroundColor = "red";
            }

            hideButton();
            var percentage = (score / 5) * 100;
            showHiddenHeader(percentage);
            disableAllRadioButtons();

            var scoreInput = document.getElementById('score');
            scoreInput.value = percentage;
            var hiddenButton = document.getElementById('hiddenButtonProceed');
            hiddenButton.style.display = 'inline-block';
           
        }

        
    }
</script>