<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/home/sb-admin-2.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="css/modalstyle.css">
    
    <style>

        #myButton {
            cursor: pointer;
        }

        #myButton:hover {
            background-color: #f6f6f6;
        }

        #myButton:focus {
            outline: none;
        }

        .container {
            display: flex;
            
        }

        .container img {
            width: 120px; /* adjust the size of the image as needed */
            height: 120px;
            margin-right: 20px; /* adjust the spacing between the image and paragraph */
        }

        .header {
            font-family: 'Segoe UI';
            font-style: italic;
            font-size:19px;
            display: inline-block; /* Add display property */
            border-bottom: 2px solid #0D76FC; /* Border bottom instead of underline */
            padding-bottom: 2px;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
        }
       
    </style>
</head>

<body id="page-top">

   

    <!-- Statistics Modal -->
    <div class="modal fade" id="StatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header py-2 text-center" style="background-color:#f6f6f6;">
               
                    <h5 class="modal-title w-100 m-0 font-weight-bold text-primary " style="text-align:center" id="exampleModalCenterTitle">Στατιστική</h5>       

                    <button type="button" class="btn-close align-content-end" data-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body" >
                    <strong >Μαθησιακά Αποτελέσματα</strong>
                    <br /><br>
                  
                    Μετά την επιτυχή παρακολούθηση αυτού του μαθήματος, οι φοιτητές αναμένεται :<br />
                    1. να έχουν αποκτήσει τις βασικές γνώσεις της Θεωρίας Πιθανοτήτων και της Στατιστικής. <br />
                    2. να έχουν χτίσει το βασικό υπόβαθρο για περαιτέρω εμβάθυνση στις Πιθανότητες και τη Στατιστική. <br />
                    3. να αναγνωρίζουν τις τυχαίες κατανομές που περιγράφουν αρκετά τυχαιοκρατικά συστήματα. <br />
                    4. να επιλέγουν τα κατάλληλα εργαλεία που απαιτούνται για την μελέτη των προαναφερθέντων. <br />
                    5. να αναγνωρίζουν τις παραμέτρους των κατανομών. <br />
                    6. να διακρίνουν τα είδη των κατανομών. <br />
                    7. να εφαρμόζουν μεθοδολογίες Περιγραφικής Στατιστικής για την επεξεργασία των στατιστικών 
                    δεδομένων. <br />
                    8. να μπορούν να συσχετίζουν και να μετασχηματίζουν στατιστικά δεδομένα. <br />
                    9. να οδηγούνται σε στατιστικά συμπεράσματα έχοντας γνώση όλων των προϋποθέσεων. <br />
                    10. να προβαίνουν σε έλεγχο υποθέσεων αξιοποιώντας τις κατάλληλες ανά ερευνητικό ερώτημα
                    μεθόδους. <br /><br />

                   
                        <table class="table table-striped table-bordered center" style="width:70%; text-align:center;" id="DT_load">

                        <thead>
                            <tr>
                                <th>
                                    Hard Skills
                                </th>
                                <th>
                                    Soft Skills
                                </th>
                            </tr>

                        </thead>

                        <tr>
                            <td>
                                Ανάλυση δεδομένων
                            </td>
                            <td>
                                Κριτική σκέψη
                            </td> 
                        </tr>

                        <tr>
                            <td>
                                Σχεδιασμός πειραμάτων
                            </td>
                            <td>
                                Προβληματισμός
                            </td>    
                        </tr>
                        <tr>
                            <td>
                                Στατιστική μοντελοποίηση
                            </td>
                            <td>
                                Οργανωτικές δεξιότητες
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Αξιολόγηση αβεβαιότητας
                            </td>
                            <td>
                                Επικοινωνία
                            </td>
                        </tr>
                    </table>
                  
                
                   
                </div>
                
            </div>
        </div>
    </div>


    

    <!-- Database Modal -->
    <div class="modal fade" id="DatabaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header py-2 text-center" style="background-color:#f6f6f6;">

                    <h5 class="modal-title w-100 m-0 font-weight-bold text-primary " style="text-align:center" id="exampleModalCenterTitle">Βάσεις Δεδομένων</h5>

                    <button type="button" class="btn-close align-content-end" data-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <strong>Μαθησιακά Αποτελέσματα</strong>
                    <br /><br>
                    Μετά την επιτυχή ολοκλήρωση του μαθήματος, οι φοιτητές:<br>
                    1. Θα κατανοούν θέματα σχετικά με το απαιτούμενο θεωρητικό υπόβαθρο των ΒΔ, όπως το
                    Σχεσιακό Μοντέλο και η γλώσσα SQL, ως κομβικών συστατικών ενός ΠΣ.<br>
                    2. Θα αξιοποιούν τη θεωρητική γνώση για να σχεδιάζουν και να αναλύουν τα δεδομένα ενός
                    ΠΣ.<br>
                    3. Θα χρησιμοποιούν τη γλώσσα SQL έχοντας διδαχθεί τη θεωρητικό υπόβαθρο της Σχεσιακής
                    Άλγεβρας.<br>
                    4. Θα ενσωματώνουν τις τεχνικές σχεδίασης Σχεσιακών Βάσεων Δεδομένων για την αποτελεσματική κατασκευή και αξιοποίησή τους.<br>
                    5. Θα διακρίνουν τις λοιπές παραμέτρους για να σχεδιάζουν και να αναπτύσσουν Βάσεις Δεδομένων με διευρυμένες δυνατότητες.<br>
                    6. Θα έχουν σφαιρική ενημέρωση, ερευνητική και εμπειρική, για περαιτέρω εξειδίκευση στο
                    χώρο των ΠΣ και των ΒΔ (επαγγελματικά ή/και ακαδημαϊκά).<br>

                    <br><br>
                    <table class="table table-striped table-bordered center" style="width:70%; text-align:center;" id="DT_load">

                        <thead>
                            <tr>
                                <th>
                                    Hard Skills
                                </th>
                                <th>
                                    Soft Skills
                                </th>
                            </tr>

                        </thead>

                        <tr>
                            <td>
                                Γνώση SQL
                            </td>
                            <td>
                                Ομαδικό πνεύμα

                            </td>
                        </tr>

                        <tr>
                            <td>
                                Σχεδιασμός βάσεων δεδομένων
                            </td>
                            <td>
                                Διαπροσωπικές δεξιότητες
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Γνώση Σχεσιακής Αλγεβρας
                            </td>
                            <td>
                                Αποδοτική διαχείριση δεδομένων
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ανάλυση Δεδομένων
                            </td>
                            <td>
                                Σχεδιασμός έργων

                            </td>
                        </tr>
                    </table>


                </div>

            </div>
        </div>
    </div>



    <!-- Database2 Modal -->
    <div class="modal fade" id="Database2Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header py-2 text-center" style="background-color:#f6f6f6;">

                    <h5 class="modal-title w-100 m-0 font-weight-bold text-primary " style="text-align:center" id="exampleModalCenterTitle">Συστήματα Διαχείρισης Βάσεων Δεδομένων</h5>

                    <button type="button" class="btn-close align-content-end" data-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <strong >Μαθησιακά Αποτελέσματα</strong>
                    <br /><br>
                    Μετά την επιτυχή ολοκλήρωση του μαθήματος, οι φοιτητές:
                    <br>
                    1. Θα αναγνωρίζουν θα κατανοούν τη φυσική οργάνωση και ενδεδειγμένη δομή των Συστημάτων
                    Διαχείρισης Βάσεων Δεδομένων (ΣΔΒΔ), ως κομβικών συστατικών ενός Πληροφοριακού Συστήματος (ΠΣ).<br>
                    2. Θα είναι σε θέση να χρησιμοποιούν τη γνώση και την κατανόηση αυτή για να σχεδιάζουν και να
                    αναπτύσσουν δράσεις προγραμματισμού των ΣΔΒΔ.<br>
                    3. Θα βελτιστοποιούν τις επερωτήσεις εφαρμόζοντας τεχνικές και μεθόδους αποτελεσματικής
                    επεξεργασίας τους.<br>
                    4. Θα διαχειρίζονται αποτελεσματικά θέματα που σχετίζονται με τις δοσοληψίες.<br>
                    5. Θα αναγνωρίζουν τα χαρακτηριστικά των ειδικών αρχιτεκτονικών ΒΔ ανάλογα με τον τύπο τους.<br>
                    6. Θα οργανώνουν και θα δημιουργούν την υποδομή για την ορθή λειτουργία των ΠΣ.<br>
                    7. Θα υιοθετούν επικοινωνιακή και συνεργατική διάθεση, ως στοιχεία απαραίτητα για περαιτέρω
                    επιστημονική ή επαγγελματική εξειδίκευση στο χώρο των ΒΔ.<br>

                    <br><br>

                    <table class="table table-striped table-bordered center" style="width:70%; text-align:center;" id="DT_load">

                        <thead>
                            <tr>
                                <th>
                                    Hard Skills
                                </th>
                                <th>
                                    Soft Skills
                                </th>
                            </tr>

                        </thead>

                        <tr>
                            <td>
                                Γνώση προχωρημένης SQL
                            </td>
                            <td>
                                Ομαδικό πνεύμα

                            </td>
                        </tr>

                        <tr>
                            <td>
                                Σχεδιασμός πολύπλοκων ΣΔΒΔ
                            </td>
                            <td>
                                Αναλυτική σκέψη
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Εκτέλεση ερωτημάτων
                            </td>
                            <td>
                                Λογική σκέψη
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Βελτιστοποίηση επίδοσης
                            </td>
                            <td>
                                Συνεργατικότητα

                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
    

    <!-- DataAnalysis Modal -->
    <div class="modal fade" id="DataAnalysisModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header py-2 text-center" style="background-color:#f6f6f6;">

                    <h5 class="modal-title w-100 m-0 font-weight-bold text-primary " style="text-align:center;" id="exampleModalCenterTitle">Αναλυτική Δεδομένων</h5>

                    <button type="button" class="btn-close align-content-end" data-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <strong>Μαθησιακά Αποτελέσματα</strong>
                    <br /><br>
                    Μετά την επιτυχή ολοκλήρωση του μαθήματος, οι φοιτητές:<br />
                    1. Θα έχουν εμβαθύνει στις έννοιες και τα χαρακτηριστικά της Αναλυτικής Δεδομένων. <br />
                    2. Θα αναγνωρίζουν και θα εφαρμόζουν τα διάφορα στάδια προπαρασκευής δεδομένων.<br />
                    3. Θα επιλέγουν μεταξύ διαφορετικών αλγορίθμων και τεχνικών για την εκάστοτε ανάλυση
                    αναλόγως της φύσης των δεομένων.<br />
                    4. Θα είναι σε θέση να χρησιμοποιούν τη γνώση και την κατανόηση που απέκτησαν ως μελλοντικοί Επιστήμονες Δεδομένων (Data Scientists).<br />
                    5. Θα είναι πλήρως ενημερωμένοι για περαιτέρω εξειδίκευση στο χώρο της Επιστήμης Δεδομένων.<br />
                    <br /><br />
                    <table class="table table-striped table-bordered center" style="width:70%; text-align:center;" id="DT_load">

                        <thead>
                            <tr>
                                <th>
                                    Hard Skills
                                </th>
                                <th>
                                    Soft Skills
                                </th>
                            </tr>

                        </thead>

                        <tr>
                            <td>
                                Σχεδιασμός Πληροφοριακών Συστημάτων
                            </td>
                            <td>
                                Παραγωγή νέων ερευνητικών ιδεών

                            </td>
                        </tr>

                        <tr>
                            <td>
                                Κατανόηση της Αναλυτικής Δεδομένων
                            </td>
                            <td>
                                Προαγωγή ελεύθερης σκέψης
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Εφαρμογή στατιστικών μεθόδων
                            </td>
                            <td>
                                Αυτόνομη εργασία
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ανάλυση πολύμετρων δεδομένων
                            </td>
                            <td>
                                Λήψη αποφάσεων

                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
    

    



    <!-- Page Wrapper -->
    <div id="wrapper">


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="background-color:white;">

            <!-- Main Content -->
            <div id="content" style="background-color:white;">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center  justify-content-between mb-1">
                        <h1 class="h2 mb-10 text-gray-800 offset-0">
                            Ειδικός Ανάλυσης Δεδομένων
                        </h1>
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 10rem;"
                             src="~/img/DataScientist.png" alt="...">
                       
                    </div>
                    <p align="justify" style="font-family:courier;">
                        Ο Ειδικός Ανάλυσης Δεδομένων είναι ένας επαγγελματίας που ασχολείται με την ανάλυση και ερμηνεία μεγάλων ποσοτήτων δεδομένων. Ο κύριος στόχος του είναι να ανακαλύπτει τις τάσεις,
                        τα μοτίβα και τις πληροφορίες που κρύβονται μέσα στα δεδομένα, προκειμένου να παράγει εμπεριστατωμένες αναλύσεις και προβλέψεις.

                        Οι ειδικοί ανάλυσης δεδομένων χρησιμοποιούν διάφορες τεχνικές και εργαλεία, όπως στατιστική ανάλυση, μηχανική μάθηση, αλγόριθμους εξόρυξης δεδομένων και οπτικοποίηση δεδομένων.
                        Με τη βοήθεια αυτών των μεθόδων, μπορούν να αναγνωρίσουν πρότυπα και συσχετίσεις στα δεδομένα, να διαμορφώσουν μοντέλα πρόβλεψης και να αντλήσουν συμπεράσματα για τις τάσεις 
                        και τις εξελίξεις που αφορούν την αντίστοιχη περιοχή ή τον τομέα μελέτης. Παρακάτω μπορείτε να δείτε μερικά συναφή μαθήματα με την συγκεκριμένη κατεύθυνση.
                    </p>
                    <br>
                    <h4 class="header">Μαθήματα(4)</h4>
                    <br><br>
                    
                    <!-- First Row -->
                    <div class="row">

                        <div class="col-lg-6 mb-4">


                            <div class="card shadow mb-4" id="myButton" data-toggle="modal" data-target="#StatModal">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Στατιστική</h6>  
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/statistics_lesson.png" alt="Your Photo">
                                        <p align="justify">
                                            Το μάθημα της στατιστικής διδάσκει την ανάλυση δεδομένων, τις αρχές της πιθανότητας και των κατανομών, τις τεχνικές εκτίμησης 
                                            παραμέτρων και τις στατιστικές δοκιμές. Με την παρακολούθηση του ενας Ειδικός Ανάλυσης Δεδομένων μαθαίνει να εξάγει πληροφορίες,
                                            να κατανοεί τάσεις και να προβλέπει αποτελέσματα βασιζόμενος σε αναλύσεις και στατιστικά μοντέλα. Επίσης καλύπτει  θέματα όπως 
                                            αλγόριθμοι επιβλεπόμενης και μη επιβλεπόμενης μάθησης, ανάλυση διαστάσεων και εξόρυξη γνώσης από τα δεδομένα.
                                        </p>
                                        
                                    </div>
                                    
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6 mb-4">
                            

                            <div class="card shadow mb-4" id="myButton" data-toggle="modal" data-target="#DatabaseModal">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary " style="text-align:center">
                                        Βάσεις Δεδομένων
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/DbLesson.png" alt="Your Photo">
                                        <p align="justify">
                                            Το μάθημα των Βάσεων Δεδομένων επικεντρώνενται στο σχεδιασμό, τη διαχείριση και την ανάκτηση δεδομένων από βάσεις δεδομένων. 
                                            Με την παρακολούθηση του κάποιος μαθαίνει τις αρχές των σχέσεων, τα πρωτεύοντα κλειδιά, τη γλώσσα SQL, 
                                            τον σχεδιασμό αντικειμενοστραφών βάσεων δεδομένων και την χρήση των συστημάτων διαχείρισης βάσεων δεδομένων.Με αυτές τις γνώσεις,
                                            ο Ειδικός Ανάλυσης Δεδομένων μπορεί να αξιοποιήσει και να εξερευνήσει τα δεδομένα από βάσεις δεδομένων με αποτελεσματικό τρόπο.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                       

                    </div>

                    <!-- second Row -->
                    <div class="row">

                        <div class="col-lg-6 mb-4">


                            <div class="card shadow mb-4" id="myButton" data-toggle="modal" data-target="#Database2Modal">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Συστήματα Διαχείρισης Βάσεων Δεδομένων</h6>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/Db2Lesson.png" alt="Your Photo">
                                        <p align="justify">
                                            Το μάθημα των Συστημάτων Διαχείρισης Βάσεων Δεδομένων επικεντρώνεται στη σχεδίαση και την ανάπτυξη σύγχρονων συστημάτων διαχείρισης βάσεων δεδομένων (DBMS), καθώς και τις αρχές της ασφάλειας και
                                            απόδοσης. Με την παρακολούθηση του ενας Ειδικός Ανάλυσης Δεδομένων μαθαίνει την ανάλυση και τη βελτιστοποίηση ερωτημάτων SQL, την αποθήκευση και την οργάνωση των δεδομένων, τη διαχείριση
                                            συναλλαγών και τον έλεγχο του αποκλεισμού. Επίσης μαθαίνει για την ανάπτυξη και την επέκταση των DBMS, την αντιμετώπιση σφαλμάτων
                                            και την ανάκτηση δεδομένων. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                         <div class="col-lg-6 mb-4">


                            <div class="card shadow mb-4" id="myButton" data-toggle="modal" data-target="#DataAnalysisModal">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">
                                        Αναλυτική Δεδομένων

                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/DataAnalysisLesson.png" alt="Your Photo">
                                        <p align="justify">
                                            Το μάθημα της Αναλυτικής Δεδομένων επικεντρώνεται στις αρχές και τις τεχνικές της αναλυτικής δεδομένων, περιλαμβανομένης της εξόρυξης δεδομένων, της οπτικοποίησης και της προβλεπτικής ανάλυσης.
                                            Με την παρακολούθηση του ενας Ειδικός Ανάλυσης Δεδομένων μαθαίνει να εφαρμόζει στατιστικές μεθόδους, μηχανική μάθηση και αλγορίθμους για την ανάλυση και την εξαγωγή εργασιών από τα δεδομένα.
                                            Επίσης, μαθαίνει να παρουσιάζει τα αποτελέσματα της ανάλυσης με σκοπό την υποστήριξη αποφάσεων και την εξαγωγή εννοιών για τη βελτίωση
                                            των επιχειρηματικών διαδικασιών και των αποτελεσμάτων.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
   

    <div class=" align-bottom h4 " style="text-align:center">
        <button class=" alert-success" onclick="window.location.href = '/Students/DataScientistQuiz'">Κάνε το quiz! </button>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/js/home/vendor/jquery/jquery.min.js"></script>
    <script src="~/js/home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>




    <!-- Page level plugins -->
    <script src="~/js/home/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/home/chart-area-demo.js"></script>
    <script src="~/js/home/chart-pie-demo.js"></script>







</body>

</html>

