<div class="mx-0 mx-sm-5">
    <div class="card">
        <div class="modal-header py-2 text-center " style="background-color:#f3f3f3;">
            <h5 class="modal-title w-100 m-0 font-weight-bold text-primary " style="text-align:center">Quiz Κατεύθυνσης "Ειδικός Ανάλυσης Δεδομένων"</h5>
        </div>
        <div class="card-body">

            <form class="px-4" action="">
                <p class="text-center"><strong>Your rating:</strong></p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio1Question1" />
                    <label class="form-check-label" for="radio1Question1">
                        Very good
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio2Question1" />
                    <label class="form-check-label" for="radio2Question1">
                        Good
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio3Question1" />
                    <label class="form-check-label" for="radio3Question1">
                        Medicore
                    </label>
                </div>


            </form>


            <hr />

            <form class="px-4" action="">
                <p class="text-center"><strong>Your rating:</strong></p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio1Question2" />
                    <label class="form-check-label" for="radio1Question2">
                        Very good
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio2Question2" />
                    <label class="form-check-label" for="radio2Question2">
                        Good
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio3Question2" />
                    <label class="form-check-label" for="radio3Question2">
                        Medicore
                    </label>
                </div>


            </form>
        </div>
        <div class="card-footer text-end">
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>