<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/home/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <style>

        #myButton {
            cursor: pointer;
        }

        #myButton:hover {
            background-color: #f6f6f6;
        }

        #myButton:focus {
            outline: none;
        }

        .container {
            display: flex;
            
        }

        .container img {
            width: 120px; /* adjust the size of the image as needed */
            height: 120px;
            margin-right: 20px; /* adjust the spacing between the image and paragraph */
        }

        .header {
            font-family: 'Segoe UI';
            font-style: italic;
            font-size:19px;
            display: inline-block; /* Add display property */
            border-bottom: 2px solid #0D76FC; /* Border bottom instead of underline */
            padding-bottom: 2px;
        }
    </style>
</head>

<body id="page-top">


    <!-- Hidden modal for statistics lesson -->
    <div id="StatLesson" class="modal">
        <h1 style="text-align:center;">statistics</h1>
        <br>
        <div class="center">
            <span onclick="document.getElementById('StatLesson').style.display='none'" class="close" title="Close Modal">&times;</span>
            <br />
            
            <label>Σύμφωνα με τα παραπάνω το ολοκλήρωμα δίνει το εμβαδόν Ε(Ω) του χωρίου Ω που περικλείεται από τη γραφική παράσταση της f τον άξονα xʹx και τις ευθείες x = α και x = β.></label>
        </div>
        <br>
    </div>

     <!-- Hidden modal for databases lesson -->
    <div id="DbLesson" class="modal">
        <h1 style="text-align:center;">databases</h1>
        <br>
        <div class="center">
            <span onclick="document.getElementById('DbLesson').style.display='none'" class="close" title="Close Modal">&times;</span>
            <br />
            
            <label>Σύμφωνα με τα παραπάνω το ολοκλήρωμα δίνει το εμβαδόν Ε(Ω) του χωρίου Ω που περικλείεται από τη γραφική παράσταση της f τον άξονα xʹx και τις ευθείες x = α και x = β.></label>
        </div>
        <br>
    </div>

     <!-- Hidden modal for databases 2 lesson -->
    <div id="Db2Lesson" class="modal">
        <h1 style="text-align:center;">databases 2</h1>
        <br>
        <div class="center">
            <span onclick="document.getElementById('Db2Lesson').style.display='none'" class="close" title="Close Modal">&times;</span>
            <br />
            
            <label>Σύμφωνα με τα παραπάνω το ολοκλήρωμα δίνει το εμβαδόν Ε(Ω) του χωρίου Ω που περικλείεται από τη γραφική παράσταση της f τον άξονα xʹx και τις ευθείες x = α και x = β.></label>
        </div>
        <br>
    </div>

    <!-- Hidden modal for Data Analysis lesson -->
    <div id="DataAnalysisLesson" class="modal">
        <h1 style="text-align:center;">Data Analysis</h1>
        <br>
        <div class="center">
            <span onclick="document.getElementById('DataAnalysisLesson').style.display='none'" class="close" title="Close Modal">&times;</span>
            <br />

            <label>Σύμφωνα με τα παραπάνω το ολοκλήρωμα δίνει το εμβαδόν Ε(Ω) του χωρίου Ω που περικλείεται από τη γραφική παράσταση της f τον άξονα xʹx και τις ευθείες x = α και x = β.></label>
        </div>
        <br>
    </div>


    <!-- Page Wrapper -->
    <div id="wrapper">


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="background-color:white;">

            <!-- Main Content -->
            <div id="content" style="background-color:white;">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center  justify-content-between mb-1">
                        <h1 class="h2 mb-10 text-gray-800 offset-0">
                            Ειδικός Ανάλυσης Δεδομένων
                        </h1>
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 10rem;"
                             src="~/img/DataScientist.png" alt="...">
                       
                    </div>
                    <p align="justify" style="font-family:courier;">
                        Ο Ειδικός Ανάλυσης Δεδομένων είναι ένας επαγγελματίας που ασχολείται με την ανάλυση και ερμηνεία μεγάλων ποσοτήτων δεδομένων. Ο κύριος στόχος του είναι να ανακαλύπτει τις τάσεις,
                        τα μοτίβα και τις πληροφορίες που κρύβονται μέσα στα δεδομένα, προκειμένου να παράγει εμπεριστατωμένες αναλύσεις και προβλέψεις.

                        Οι ειδικοί ανάλυσης δεδομένων χρησιμοποιούν διάφορες τεχνικές και εργαλεία, όπως στατιστική ανάλυση, μηχανική μάθηση, αλγόριθμους εξόρυξης δεδομένων και οπτικοποίηση δεδομένων.
                        Με τη βοήθεια αυτών των μεθόδων, μπορούν να αναγνωρίσουν πρότυπα και συσχετίσεις στα δεδομένα, να διαμορφώσουν μοντέλα πρόβλεψης και να αντλήσουν συμπεράσματα για τις τάσεις 
                        και τις εξελίξεις που αφορούν την αντίστοιχη περιοχή ή τον τομέα μελέτης. Παρακάτω μπορείτε να δείτε μερικά συναφή μαθήματα με την συγκεκριμένη κατεύθυνση.
                    </p>
                    <br>
                    <h4 class="header">Μαθήματα(4)</h4>
                    <br><br>
                    <!-- First Row -->
                    <div class="row">

                        <div class="col-lg-6 mb-4">


                            <div class="card shadow mb-4" id="myButton" onclick="document.getElementById('StatLesson').style.display='block'">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Στατιστική</h6>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/statistics_lesson.png" alt="Your Photo">
                                        <p align="justify">
                                            Το μάθημα της στατιστικής διδάσκει την ανάλυση δεδομένων, τις αρχές της πιθανότητας και των κατανομών, τις τεχνικές εκτίμησης 
                                            παραμέτρων και τις στατιστικές δοκιμές. Με την παρακολούθηση του ενας Ειδικός Ανάλυσης Δεδομένων μαθαίνει να εξάγει πληροφορίες,
                                            να κατανοεί τάσεις και να προβλέπει αποτελέσματα βασιζόμενος σε αναλύσεις και στατιστικά μοντέλα. Επίσης καλύπτει  θέματα όπως 
                                            αλγόριθμοι επιβλεπόμενης και μη επιβλεπόμενης μάθησης, ανάλυση διαστάσεων και εξόρυξη γνώσης από τα δεδομένα.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4">
                            

                            <div class="card shadow mb-4" id="myButton" onclick="document.getElementById('DbLesson').style.display='block'">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary " style="text-align:center">
                                        Βάσεις Δεδομένων
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/DbLesson.png" alt="Your Photo">
                                        <p align="justify">
                                            Το μάθημα των Βάσεων Δεδομένων επικεντρώνενται στο σχεδιασμό, τη διαχείριση και την ανάκτηση δεδομένων από βάσεις δεδομένων. 
                                            Με την παρακολούθηση του κάποιος μαθαίνει τις αρχές των σχέσεων, τα πρωτεύοντα κλειδιά, τη γλώσσα SQL, 
                                            τον σχεδιασμό αντικειμενοστραφών βάσεων δεδομένων και την χρήση των συστημάτων διαχείρισης βάσεων δεδομένων.Με αυτές τις γνώσεις,
                                            ο Ειδικός Ανάλυσης Δεδομένων μπορεί να αξιοποιήσει και να εξερευνήσει τα δεδομένα από βάσεις δεδομένων με αποτελεσματικό τρόπο.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                       

                    </div>

                    <!-- second Row -->
                    <div class="row">

                        <div class="col-lg-6 mb-4">


                            <div class="card shadow mb-4" id="myButton" onclick="document.getElementById('Db2Lesson').style.display='block'">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Συστήματα Διαχείρισης Βάσεων Δεδομένων</h6>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/Db2Lesson.png" alt="Your Photo">
                                        <p align="justify">
                                            Το μάθημα των Συστημάτων Διαχείρισης Βάσεων Δεδομένων επικεντρώνεται στη σχεδίαση και την ανάπτυξη σύγχρονων συστημάτων διαχείρισης βάσεων δεδομένων (DBMS), καθώς και τις αρχές της ασφάλειας και
                                            απόδοσης. Με την παρακολούθηση του ενας Ειδικός Ανάλυσης Δεδομένων μαθαίνει την ανάλυση και τη βελτιστοποίηση ερωτημάτων SQL, την αποθήκευση και την οργάνωση των δεδομένων, τη διαχείριση
                                            συναλλαγών και τον έλεγχο του αποκλεισμού. Επίσης μαθαίνει για την ανάπτυξη και την επέκταση των DBMS, την αντιμετώπιση σφαλμάτων
                                            και την ανάκτηση δεδομένων. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                         <div class="col-lg-6 mb-4">


                            <div class="card shadow mb-4" id="myButton" onclick="document.getElementById('DataAnalysisLesson').style.display='block'">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">
                                        Αναλυτική Δεδομένων

                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/DataAnalysisLesson.png" alt="Your Photo">
                                        <p align="justify">
                                            Το μάθημα της Αναλυτικής Δεδομένων επικεντρώνεται στις αρχές και τις τεχνικές της αναλυτικής δεδομένων, περιλαμβανομένης της εξόρυξης δεδομένων, της οπτικοποίησης και της προβλεπτικής ανάλυσης.
                                            Με την παρακολούθηση του ενας Ειδικός Ανάλυσης Δεδομένων μαθαίνει να εφαρμόζει στατιστικές μεθόδους, μηχανική μάθηση και αλγορίθμους για την ανάλυση και την εξαγωγή εργασιών από τα δεδομένα.
                                            Επίσης, μαθαίνει να παρουσιάζει τα αποτελέσματα της ανάλυσης με σκοπό την υποστήριξη αποφάσεων και την εξαγωγή εννοιών για τη βελτίωση
                                            των επιχειρηματικών διαδικασιών και των αποτελεσμάτων.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <br />
    <br />
    <br />


    <!-- Bootstrap core JavaScript-->
    <script src="~/js/home/vendor/jquery/jquery.min.js"></script>
    <script src="~/js/home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>




    <!-- Page level plugins -->
    <script src="~/js/home/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/home/chart-area-demo.js"></script>
    <script src="~/js/home/chart-pie-demo.js"></script>







</body>

</html>

