<style>
    #result-container {
        display: flex;
        justify-content: center;
    }

    #resultQuestion1 {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        color: white;
        padding:5px;
    }
       #resultQuestion2 {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        color: white;
        padding:5px;
    }
       #resultQuestion3 {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        color: white;
        padding:5px;
    }
       #resultQuestion4 {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        color: white;
        padding:5px;
    }

    #resultQuestion5 {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        color: white;
        padding: 5px;
    }

    #resultQuestion6 {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        color: white;
        padding: 5px;
    }

     #resultQuestion7 {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        color: white;
        padding: 5px;
    }

     #resultQuestion8 {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        color: white;
        padding: 5px;
    }

     #resultQuestion9 {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        color: white;
        padding: 5px;
    }

    #resultQuestion10 {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        color: white;
        padding: 5px;
    }

    #resultQuestion11 {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        color: white;
        padding: 5px;
    }

    #resultQuestion12 {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        color: white;
        padding: 5px;
    }

    .hidden-header {
        display: none;
        font-weight: bold;
        font-size:20px;
        color: black;
        padding: 5px;
    }

    .hidden {
        display: none;
    }

</style>

<div class="mx-0 mx-sm-5">
    <div class="card">
        <div class="modal-header py-2 text-center " style="background-color:#f3f3f3;">
            <h5 class="modal-title w-100 m-0 font-weight-bold text-primary " style="text-align:center">Επαναληπτικό Quiz</h5>
        </div>
        <div class="card-body">


            <form class="px-4" action="">
                <p><strong>Ποιό απο τα παρακάτω είναι μαθησιακό αποτέλεσμα του μαθήματος "Βάσεις Δεδομένων"; </strong></p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm1" id="radio1Question1" />
                    <label class="form-check-label" for="radio1Question1">
                        Γνώση σχεσιακής άλγεβρας
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm1" id="radio2Question1" />
                    <label class="form-check-label" for="radio2Question1">
                        Σχεδιασμός πληροφοριακών συστημάτων
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm1" id="radio3Question1" />
                    <label class="form-check-label" for="radio3Question1">
                        Γνώση Θεωρίας πιθανοτήτων
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm1" id="radio4Question1" />
                    <label class="form-check-label" for="radio4Question1">
                        Γνώση γραφιστικής σχεδίασης.
                    </label>
                </div>


                <div id="result-container">
                    <div id="resultQuestion1" class="px-4"></div>
                </div>

            </form>


            <hr />

            <form class="px-4" action="">
                <p>
                    <strong> Ποιο απο τα παρακάτω μαθήματα χρειάζεται για την καριέρα του Ειδικού Ανάλυσης Δεδομένων; </strong>
                </p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm2" id="radio1Question2" />
                    <label class="form-check-label" for="radio1Question2">
                        Στατιστική
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm2" id="radio2Question2" />
                    <label class="form-check-label" for="radio2Question2">
                        Τεχνολογίες Διαδικτύου
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm2" id="radio3Question2" />
                    <label class="form-check-label" for="radio3Question2">
                        Αλληλεπίδραση Ανθρώπου Υπολογιστή
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm2" id="radio4Question2" />
                    <label class="form-check-label" for="radio4Question2">
                        Ολα τα παραπάνω
                    </label>
                </div>

                <div id="result-container">
                    <div id="resultQuestion2" class="px-4"></div>
                </div>
            </form>


            <hr />

            <form class="px-4" action="">
                <p>
                    <strong> Ποιες ικανότητες απαιτούνται για τον Ειδικό Ασφάλειας και Προστασίας Δεδομένων; </strong>
                </p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm3" id="radio1Question3" />
                    <label class="form-check-label" for="radio1Question3">
                        Κατανόηση της θεωρίας κωδίκων.
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm3" id="radio2Question3" />
                    <label class="form-check-label" for="radio2Question3">
                        Γνώση αλγορίθμων κρυπτογράφησης
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm3" id="radio3Question3" />
                    <label class="form-check-label" for="radio3Question3">
                        Διαχειρίση απειλών και κινδύνων στα πληροφοριακά συστήματα
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm3" id="radio4Question3" />
                    <label class="form-check-label" for="radio4Question3">
                        Ολα τα παραπάνω
                    </label>
                </div>


                <div id="result-container">
                    <div id="resultQuestion3" class="px-4"></div>
                </div>
            </form>

            <hr />

            <form class="px-4" action="">
                <p>
                    <strong> Ποιες είναι οι προαπαιτούμενες γνώσεις για το μάθημα "Κρυπτογραφία";</strong>
                </p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm4" id="radio1Question4" />
                    <label class="form-check-label" for="radio1Question4">
                        Γνώση SQL
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm4" id="radio2Question4" />
                    <label class="form-check-label" for="radio2Question4">
                        Εφαρμογή στατιστικών μεθόδων
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm4" id="radio3Question4" />
                    <label class="form-check-label" for="radio3Question4">
                        Γνώση κρυπτογραφικών αλγορίθμων
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm4" id="radio4Question4" />
                    <label class="form-check-label" for="radio4Question4">
                        Κατανόηση των απειλών των δικτύων
                    </label>
                </div>


                <div id="result-container">
                    <div id="resultQuestion4" class="px-4"></div>
                </div>
            </form>

            <hr />


            <form class="px-4" action="">
                <p><strong>Ποιό απο τα παρακάτω είναι μαθησιακό αποτέλεσμα του μαθήματος "Αντικειμενοστρεφής Προγραμματισμός"; </strong></p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm5" id="radio1Question5" />
                    <label class="form-check-label" for="radio1Question5">
                        Γνώση σχεσιακής άλγεβρας
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm5" id="radio2Question5" />
                    <label class="form-check-label" for="radio2Question5">
                        Γνώσεις αρχιτεκτονικής υπολογιστών
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm5" id="radio3Question5" />
                    <label class="form-check-label" for="radio3Question5">
                        Γνώση δημιουργίας τάξεων,διεπαφών και ανικειμένων
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm5" id="radio4Question5" />
                    <label class="form-check-label" for="radio4Question5">
                        Αναγνώριση απειλών και επιθέσεων
                    </label>
                </div>


                <div id="result-container">
                    <div id="resultQuestion5" class="px-4"></div>
                </div>

            </form>


            <hr />

            <form class="px-4" action="">
                <p>
                    <strong> Ποιο απο τα παρακάτω μαθήματα χρειάζεται για την καριέρα του Μηχανικού Λογισμικού; </strong>
                </p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm6" id="radio1Question6" />
                    <label class="form-check-label" for="radio1Question6">
                        Στατιστική
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm6" id="radio2Question6" />
                    <label class="form-check-label" for="radio2Question6">
                        Ασφάλεια Δικτύων
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm6" id="radio3Question6" />
                    <label class="form-check-label" for="radio3Question6">
                        Αλληλεπίδραση Ανθρώπου Υπολογιστή
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm6" id="radio4Question6" />
                    <label class="form-check-label" for="radio4Question6">
                        Αντικειμενοστρεφής Ανάπτυξη Εφαρμογών
                    </label>
                </div>

                <div id="result-container">
                    <div id="resultQuestion6" class="px-4"></div>
                </div>
            </form>

            <hr />

            <form class="px-4" action="">
                <p><strong>Ποιό απο τα παρακάτω είναι μαθησιακό αποτέλεσμα του μαθήματος "Αλληλεπίδραση Ανθρώπου Υπολογιστή"; </strong></p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm7" id="radio1Question7" />
                    <label class="form-check-label" for="radio1Question7">
                        Γνώση σχεσιακής άλγεβρας
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm7" id="radio2Question7" />
                    <label class="form-check-label" for="radio2Question7">
                        Γνώσεις αρχιτεκτονικής υπολογιστών
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm7" id="radio3Question7" />
                    <label class="form-check-label" for="radio3Question7">
                        Γνώση δημιουργίας τάξεων,διεπαφών και ανικειμένων
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm7" id="radio4Question7" />
                    <label class="form-check-label" for="radio4Question7">
                        Γνώση εφαρμογής ιεραρχικής ανάλυσης
                    </label>
                </div>


                <div id="result-container">
                    <div id="resultQuestion7" class="px-4"></div>
                </div>

            </form>


            <hr />

            <form class="px-4" action="">
                <p>
                    <strong> Ποιο απο τα παρακάτω μαθήματα χρειάζεται για την καριέρα του Σχεδιαστή Εμπειρίας Χρηστών; </strong>
                </p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm8" id="radio1Question8" />
                    <label class="form-check-label" for="radio1Question8">
                        Στατιστική
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm8" id="radio2Question8" />
                    <label class="form-check-label" for="radio2Question8">
                        Ασφάλεια Δικτύων
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm8" id="radio3Question8" />
                    <label class="form-check-label" for="radio3Question8">
                        Αλληλεπίδραση Ανθρώπου Υπολογιστή
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm8" id="radio4Question8" />
                    <label class="form-check-label" for="radio4Question8">
                        Αντικειμενοστρεφής Ανάπτυξη Εφαρμογών
                    </label>
                </div>

                <div id="result-container">
                    <div id="resultQuestion8" class="px-4"></div>
                </div>
            </form>

             <hr />

            <form class="px-4" action="">
                <p><strong>Ποιό απο τα παρακάτω είναι μαθησιακό αποτέλεσμα του μαθήματος "Τεχνητή Νοημοσύνη και Έμπειρα Συστήματα"; </strong></p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm9" id="radio1Question9" />
                    <label class="form-check-label" for="radio1Question9">
                        Αναγνώριση, περιγραφή και αναπαράσταση προβλημάτων λογικής
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm9" id="radio2Question9" />
                    <label class="form-check-label" for="radio2Question9">
                        Γνώσεις αρχιτεκτονικής υπολογιστών
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm9" id="radio3Question9" />
                    <label class="form-check-label" for="radio3Question9">
                        Γνώση δημιουργίας τάξεων,διεπαφών και ανικειμένων
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm9" id="radio4Question9" />
                    <label class="form-check-label" for="radio4Question9">
                        Γνώση εφαρμογής ιεραρχικής ανάλυσης
                    </label>
                </div>


                <div id="result-container">
                    <div id="resultQuestion9" class="px-4"></div>
                </div>

            </form>


            <hr />

            <form class="px-4" action="">
                <p>
                    <strong> Ποιο απο τα παρακάτω μαθήματα χρειάζεται για την καριέρα του Ειδικού Μηχανικής Μάθησης και Τεχνητής Νοημοσύνης; </strong>
                </p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm10" id="radio1Question10" />
                    <label class="form-check-label" for="radio1Question10">
                        Αναγνώριση Προτύπων
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm10" id="radio2Question10" />
                    <label class="form-check-label" for="radio2Question10">
                        Αλγοριθμική και Δομές Δεδομένων
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm10" id="radio3Question10" />
                    <label class="form-check-label" for="radio3Question10">
                        Πιθανότητες και Στατιστική
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm10" id="radio4Question10" />
                    <label class="form-check-label" for="radio4Question10">
                        Όλα τα παραπάνω
                    </label>
                </div>

                <div id="result-container">
                    <div id="resultQuestion10" class="px-4"></div>
                </div>
            </form>

            <hr />

            <form class="px-4" action="">
                <p><strong>Ποιό απο τα παρακάτω είναι μαθησιακό αποτέλεσμα του μαθήματος "Προγραμματισμός στο Διαδίκτυο και στο Παγκόσμιο Ιστό"; </strong></p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm11" id="radio1Question11" />
                    <label class="form-check-label" for="radio1Question11">
                        Αναγνώριση, περιγραφή και αναπαράσταση προβλημάτων λογικής
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm11" id="radio2Question11" />
                    <label class="form-check-label" for="radio2Question11">
                        Γνώσεις αρχιτεκτονικής υπολογιστών
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm11" id="radio3Question11" />
                    <label class="form-check-label" for="radio3Question11">
                        Γνώση αρχιτεκτονικών όπως client-server και 3-tier
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm11" id="radio4Question11" />
                    <label class="form-check-label" for="radio4Question11">
                        Γνώση εφαρμογής ιεραρχικής ανάλυσης
                    </label>
                </div>


                <div id="result-container">
                    <div id="resultQuestion11" class="px-4"></div>
                </div>

            </form>


            <hr />

            <form class="px-4" action="">
                <p>
                    <strong> Ποιο απο τα παρακάτω μαθήματα χρειάζεται για την καριέρα του Προγραμματιστή Web; </strong>
                </p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm12" id="radio1Question12" />
                    <label class="form-check-label" for="radio1Question12">
                        Κρυπτογραφία
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm12" id="radio2Question12" />
                    <label class="form-check-label" for="radio2Question12">
                        Αλγοριθμική και Δομές Δεδομένων
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm12" id="radio3Question12" />
                    <label class="form-check-label" for="radio3Question12">
                        Τεχνολογία Λογισμικού
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm12" id="radio4Question12" />
                    <label class="form-check-label" for="radio4Question12">
                        Αναλυτική Δεδομένων
                    </label>
                </div>

                <div id="result-container">
                    <div id="resultQuestion12" class="px-4"></div>
                </div>
            </form>

        </div>
        <div class="card-footer text-center">
            <button type="button" id="hide-button" class="btn btn-primary" onclick="submitForm()">Υποβολή Απαντήσεων</button>
           
            <header class="hidden-header " id="hidden-header">
                
            </header>
        </div>

    </div>
</div>

<form action="RepeatQuiz" method="post">
    <div class=" align-bottom h4 " style="text-align:center">
        <input hidden id="score" name="score">
        <button id="hiddenButtonProceed" style="display: none;" class=" alert-info" onClick="submitForm()">Συνέχεια</button>
    </div>
</form>
<script>
    function hideButton() {
        var button = document.getElementById('hide-button');
        button.classList.add('hidden');
    }
    function showHiddenHeader(perc) {
        var header = document.getElementById('hidden-header');
        header.innerHTML = perc + "%";
        header.style.backgroundColor = "lightblue";
        header.style.display = 'block';
        
    }
    function disableAllRadioButtons() {
        var radioButtons = document.querySelectorAll('input[type="radio"]');
        for (var i = 0; i < radioButtons.length; i++) {
            radioButtons[i].disabled = true;
        }
    }

    function submitForm() {
        // Retrieve selected answer
        var selectedOptionQuestion1 = document.querySelector('input[name="exampleForm1"]:checked');
        var selectedOptionQuestion2 = document.querySelector('input[name="exampleForm2"]:checked');
        var selectedOptionQuestion3 = document.querySelector('input[name="exampleForm3"]:checked');
        var selectedOptionQuestion4 = document.querySelector('input[name="exampleForm4"]:checked');
        var selectedOptionQuestion5 = document.querySelector('input[name="exampleForm5"]:checked');
        var selectedOptionQuestion6 = document.querySelector('input[name="exampleForm6"]:checked');
        var selectedOptionQuestion7 = document.querySelector('input[name="exampleForm7"]:checked');
        var selectedOptionQuestion8 = document.querySelector('input[name="exampleForm8"]:checked');
        var selectedOptionQuestion9 = document.querySelector('input[name="exampleForm9"]:checked');
        var selectedOptionQuestion10 = document.querySelector('input[name="exampleForm10"]:checked');
        var selectedOptionQuestion11 = document.querySelector('input[name="exampleForm11"]:checked');
        var selectedOptionQuestion12 = document.querySelector('input[name="exampleForm12"]:checked');

        // Check if an option is selected
        if (!selectedOptionQuestion1 || !selectedOptionQuestion2 || !selectedOptionQuestion3 || !selectedOptionQuestion4 || !selectedOptionQuestion5 || !selectedOptionQuestion6 || !selectedOptionQuestion7 || !selectedOptionQuestion8 || !selectedOptionQuestion9 || !selectedOptionQuestion10 || !selectedOptionQuestion11 || !selectedOptionQuestion12) {
           
            alert("Παρακαλώ απαντήστε σε όλες τις ερωτήσεις");
            
        } else {
            var selectedValueQuestion1 = selectedOptionQuestion1.id;
            var selectedValueQuestion2 = selectedOptionQuestion2.id;
            var selectedValueQuestion3 = selectedOptionQuestion3.id;
            var selectedValueQuestion4 = selectedOptionQuestion4.id;
            var selectedValueQuestion5 = selectedOptionQuestion5.id;
            var selectedValueQuestion6 = selectedOptionQuestion6.id;
            var selectedValueQuestion7 = selectedOptionQuestion7.id;
            var selectedValueQuestion8 = selectedOptionQuestion8.id;
            var selectedValueQuestion9 = selectedOptionQuestion9.id;
            var selectedValueQuestion10 = selectedOptionQuestion10.id;
            var selectedValueQuestion11 = selectedOptionQuestion11.id;
            var selectedValueQuestion12 = selectedOptionQuestion12.id;

            var score= 0;
            if (selectedValueQuestion1 == "radio1Question1") {
                score++;
                document.getElementById("resultQuestion1").innerHTML = "Σωστή απάντηση!";
                document.getElementById("resultQuestion1").style.backgroundColor = "green";

            }else{
                document.getElementById("resultQuestion1").innerHTML = "Λανθασμένη απάντηση! Η σωστή απάντηση είναι η Επιλογή 1";
                document.getElementById("resultQuestion1").style.backgroundColor = "red";
            }

            if (selectedValueQuestion2 == "radio1Question2") {
                score++;
                document.getElementById("resultQuestion2").innerHTML = "Σωστή απάντηση!";
                document.getElementById("resultQuestion2").style.backgroundColor = "green";

            }else{
                document.getElementById("resultQuestion2").innerHTML = "Λανθασμένη απάντηση! Η σωστή απάντηση είναι η Επιλογή 1";
                document.getElementById("resultQuestion2").style.backgroundColor = "red";
            }

            if (selectedValueQuestion3 == "radio4Question3") {
                score++;
                document.getElementById("resultQuestion3").innerHTML = "Σωστή απάντηση!";
                document.getElementById("resultQuestion3").style.backgroundColor = "green";

            }else{
                document.getElementById("resultQuestion3").innerHTML = "Λανθασμένη απάντηση! Η σωστή απάντηση είναι η Επιλογή 4";
                document.getElementById("resultQuestion3").style.backgroundColor = "red";
            }

            if (selectedValueQuestion4 == "radio3Question4") {
                score++;
                document.getElementById("resultQuestion4").innerHTML = "Σωστή απάντηση!";
                document.getElementById("resultQuestion4").style.backgroundColor = "green";

            }else{
                document.getElementById("resultQuestion4").innerHTML = "Λανθασμένη απάντηση! Η σωστή απάντηση είναι η Επιλογή 3";
                document.getElementById("resultQuestion4").style.backgroundColor = "red";
            }

            if (selectedValueQuestion5 == "radio3Question5") {
                score++;
                document.getElementById("resultQuestion5").innerHTML = "Σωστή απάντηση!";
                document.getElementById("resultQuestion5").style.backgroundColor = "green";

            }else{
                document.getElementById("resultQuestion5").innerHTML = "Λανθασμένη απάντηση! Η σωστή απάντηση είναι η Επιλογή 3";
                document.getElementById("resultQuestion5").style.backgroundColor = "red";
            }

            if (selectedValueQuestion6 == "radio4Question6") {
                score++;
                document.getElementById("resultQuestion6").innerHTML = "Σωστή απάντηση!";
                document.getElementById("resultQuestion6").style.backgroundColor = "green";

            } else {
                document.getElementById("resultQuestion6").innerHTML = "Λανθασμένη απάντηση! Η σωστή απάντηση είναι η Επιλογή 4";
                document.getElementById("resultQuestion6").style.backgroundColor = "red";
            }
            if (selectedValueQuestion7 == "radio4Question7") {
                score++;
                document.getElementById("resultQuestion7").innerHTML = "Σωστή απάντηση!";
                document.getElementById("resultQuestion7").style.backgroundColor = "green";

            } else {
                document.getElementById("resultQuestion7").innerHTML = "Λανθασμένη απάντηση! Η σωστή απάντηση είναι η Επιλογή 4";
                document.getElementById("resultQuestion7").style.backgroundColor = "red";
            }
            if (selectedValueQuestion8 == "radio3Question8") {
                score++;
                document.getElementById("resultQuestion8").innerHTML = "Σωστή απάντηση!";
                document.getElementById("resultQuestion8").style.backgroundColor = "green";

            } else {
                document.getElementById("resultQuestion8").innerHTML = "Λανθασμένη απάντηση! Η σωστή απάντηση είναι η Επιλογή 3";
                document.getElementById("resultQuestion8").style.backgroundColor = "red";
            }
            if (selectedValueQuestion9 == "radio1Question9") {
                score++;
                document.getElementById("resultQuestion9").innerHTML = "Σωστή απάντηση!";
                document.getElementById("resultQuestion9").style.backgroundColor = "green";

            } else {
                document.getElementById("resultQuestion9").innerHTML = "Λανθασμένη απάντηση! Η σωστή απάντηση είναι η Επιλογή 1";
                document.getElementById("resultQuestion9").style.backgroundColor = "red";
            }
            if (selectedValueQuestion10 == "radio4Question10") {
                score++;
                document.getElementById("resultQuestion10").innerHTML = "Σωστή απάντηση!";
                document.getElementById("resultQuestion10").style.backgroundColor = "green";

            } else {
                document.getElementById("resultQuestion10").innerHTML = "Λανθασμένη απάντηση! Η σωστή απάντηση είναι η Επιλογή 4";
                document.getElementById("resultQuestion10").style.backgroundColor = "red";
            }
            if (selectedValueQuestion11 == "radio3Question11") {
                score++;
                document.getElementById("resultQuestion11").innerHTML = "Σωστή απάντηση!";
                document.getElementById("resultQuestion11").style.backgroundColor = "green";

            } else {
                document.getElementById("resultQuestion11").innerHTML = "Λανθασμένη απάντηση! Η σωστή απάντηση είναι η Επιλογή 3";
                document.getElementById("resultQuestion11").style.backgroundColor = "red";
            }
            if (selectedValueQuestion12 == "radio3Question12") {
                score++;
                document.getElementById("resultQuestion12").innerHTML = "Σωστή απάντηση!";
                document.getElementById("resultQuestion12").style.backgroundColor = "green";

            } else {
                document.getElementById("resultQuestion12").innerHTML = "Λανθασμένη απάντηση! Η σωστή απάντηση είναι η Επιλογή 3";
                document.getElementById("resultQuestion12").style.backgroundColor = "red";
            }
            hideButton();
            var percentage = (score / 12) * 100;
            var percentage = Math.floor(percentage);
            showHiddenHeader(percentage);
            disableAllRadioButtons();

            var scoreInput = document.getElementById('score');
            scoreInput.value = percentage;
            var hiddenButton = document.getElementById('hiddenButtonProceed');
            hiddenButton.style.display = 'inline-block';
           
        }

        
    }
</script>