<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/home/sb-admin-2.min.css" rel="stylesheet">

    <style>
        .disabled-note {
            font-size: 13px;
            color: grey;
            margin-top: 4px;
           
        }
        .styled-button:disabled {
            opacity: 0.4; /* Reduce the opacity to make it look disabled */
            cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
        }
        .styled-button {
            background-color: #4CAF50; /* Set the background color */
            border: none; /* Remove the border */
            color: white; /* Set the text color */
            padding: 10px 20px; /* Set the padding */
            text-align: center; /* Align the text in the center */
            text-decoration: none; /* Remove text underline */
            display: inline-block; /* Display as inline block */
            font-size: 19px; /* Set the font size */
            cursor: pointer; /* Change the cursor to a pointer on hover */
            border-radius: 4px; /* Add rounded corners */
            transition: background-color 0.3s ease; /* Add a smooth transition effect */
        }

        .styled-button:hover {
            background-color: #45a049; /* Change the background color on hover */
        }

        .completion-icon {
            margin-left: 5px;
            color: green;
        }
        #myButton {
            cursor: pointer;
        }

            #myButton:hover {
                background-color: #f6f6f6;
            }


            #myButton:focus {
                outline: none;
            }


        .container {
            display: flex;
            justify-content: center;
        }

        .container button {
            margin: 0 25px; /* Adjust the margin as needed */
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">





        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="background-color:white;">

            <!-- Main Content -->
            <div id="content" style="background-color:white;">

                <!-- Begin Page Content -->
                <div class="container-fluid">
                  
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center  justify-content-between mb-1">
                     
                        <h1 class="h2 mb-10 text-gray-800 offset-0">
                            Eπαγγελματικός προσανατολισμός φοιτητών και αποφοίτων Τμημάτων Πληροφορικής
                        </h1>
                       
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 19rem;"
                             src="~/img/EpaggelmProsan.png" alt="...">
                    </div>


                    @{
                        List<int> completedDirections = ViewBag.completedDirections;
                        double avgGradedLessons = ViewBag.avgGradedLessons;
                        int gradedLessons = ViewBag.gradedLessons;
                        double scoreAvgQuizzes = ViewBag.scoreAvgQuizzes;
                    }
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-m font-weight-bold text-primary  mb-2">
                                               Μ.Ο. Βαθμών Των Quiz
                                            </div>
                                            <br />
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@scoreAvgQuizzes%</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-1">
                                            <div class="text-m font-weight-bold text-success mb-2">
                                                Καταχωρημένοι Βαθμοί σε Μαθήματα:
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@gradedLessons/20</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-m font-weight-bold text-info mb-2">
                                                Μ.Ο. Βαθμών Καταχωρημένων Μαθημάτων
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"> @avgGradedLessons/10</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-m font-weight-bold text-warning mb-2">
                                                Ποσοστό Ολοκληρωμένων Κατευθύνσεων:
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                @{
                                                    int percentage = (int)((completedDirections.Count / 6.0) * 100);
                                                }
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@percentage%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        
                                                        <div class="progress-bar bg-warning" role="progressbar"
                                                             style="width: @percentage%" aria-valuenow="@percentage" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="h4 " style="text-align:center">
                        <button class="alert-info" onclick="window.location.href = '/Students/InsertGrades'">Καταχώρηση Βαθμών σε Μαθήματα</button>
                    </div>
                    <br />

                    
                    <!-- First Row -->
                    <div class="row">

                        <div class="col-lg-4 mb-4">


                            <div class="card shadow mb-4" id="myButton" onclick="window.location.href = '/Students/DataScientistDirection'">
                                <div class="card-header py-3">

                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">
                                        Ειδικός Ανάλυσης Δεδομένων

                                        @if (completedDirections.Contains(1))
                                        {
                                            <span class="completion-icon">&#10004;</span>
                                        }
                                        else
                                        {
                                            <span class="completion-icon">&#8987;</span>
                                        }
                                     
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 13rem;"
                                             src="~/img/DataScientist.png" alt="...">
                                    </div>
                                    <p align="justify">
                                        Ο ρόλος ενός επιστήμονα δεδομένων περιλαμβάνει την ανάλυση μεγάλων συνόλων δεδομένων για την αποκάλυψη μοτίβων και πληροφοριών,
                                        χρησιμοποιώντας στατιστική ανάλυση και μηχανική μάθηση. Αναπτύσσουν μοντέλα πρόβλεψης, συνεργάζονται με ομάδες και επικοινωνούν τα ευρήματα μέσω οπτικοποιήσεων.
                                        Γενικά, οι επιστήμονες δεδομένων επιτρέπουν τη λήψη τεκμηριωμένων αποφάσεων και συμβάλλουν στην ανάπτυξη των επιχειρήσεων μέσω γνώσεων που βασίζονται σε δεδομένα.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-4">


                            <div class="card shadow mb-4" id="myButton" onclick="window.location.href = '/Students/CybersecuritySpecialistDirection'">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary " style="text-align:center">
                                        Ειδικός Ασφάλειας & Προστασίας Δεδομένων
                                        @if (completedDirections.Contains(2))
                                        {
                                            <span class="completion-icon">&#10004;</span>
                                        }
                                        else
                                        {
                                            <span class="completion-icon">&#8987;</span>
                                        }
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 13rem;"
                                             src="~/img/CybersecuritySpecialist.webp" alt="...">
                                    </div>
                                    <p align="justify">
                                        Ο ρόλος ενος Ειδικού Ασφάλειας και Προστασίας Δεδομένων είναι να προστατεύει τα συστήματα υπολογιστών και τις πληροφορίες από απειλές στον κυβερνοχώρο αναπτύσσοντας πρωτόκολλα ασφαλείας,
                                        παρακολουθώντας τα συστήματα, διερευνώντας περιστατικά και εκπαιδεύοντας τους υπαλλήλους. Ο στόχος του είναι να χρησιμοποιήσει την τεχνογνωσία του
                                        για να προστατεύσει τους οργανισμούς και τα περιουσιακά στοιχεία των πληροφοριών τους.
                                    </p>
                                    <br>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-4">


                            <div class="card shadow mb-4" id="myButton" onclick="window.location.href = '/Students/SoftwareEngineerDirection'">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">
                                        Μηχανικός Λογισμικού
                                        @if (completedDirections.Contains(3))
                                        {
                                            <span class="completion-icon">&#10004;</span>
                                        }
                                        else
                                        {
                                            <span class="completion-icon">&#8987;</span>
                                        }
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 11.5rem;"
                                             src="~/img/SoftwareEngineer.svg" alt="...">
                                    </div>
                                    <p align="justify">
                                        Ο ρόλος ενός μηχανικού λογισμικού είναι να δημιουργεί και να συντηρεί εφαρμογές λογισμικού χρησιμοποιώντας αρχές μηχανικής και βέλτιστες πρακτικές.
                                        Θα γράφει ποιοτικό κώδικα, θα συνεργάζεται με τα μέλη της ομάδας του, θα δοκιμάζει και θα αποσφαλματώνει το λογισμικό και θα χρησιμοποιεί βέλτιστες
                                        πρακτικές μηχανικής για να διασφαλίζει προϊόντα υψηλής ποιότητας που ανταποκρίνονται στις απαιτήσεις και τους όρους των χρηστών.
                                    </p>
                                    <br>

                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- second Row -->
                    <div class="row">

                        <div class="col-lg-4 mb-4">


                            <div class="card shadow mb-4" id="myButton" onclick="window.location.href = '/Students/UxDesignerDirection'">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">
                                        Σχεδιαστής Εμπειρίας Χρηστών
                                        @if (completedDirections.Contains(4))
                                        {
                                            <span class="completion-icon">&#10004;</span>
                                        }
                                        else
                                        {
                                            <span class="completion-icon">&#8987;</span>
                                        }
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 13rem;"
                                             src="~/img/UxDesigner.png" alt="...">
                                    </div>
                                    <p align="justify">
                                        Ο ρόλος ενός Σχεδιαστής Εμπειρίας Χρηστών είναι να δημιουργεί εύχρηστες εμπειρίες χρήστη για συστήματα λογισμικού, διεξάγοντας έρευνα, σχεδιάζοντας σκαρφίσματα και πρωτότυπα
                                        και εξασφαλίζοντας ότι τα σχέδια ανταποκρίνονται στις απαιτήσεις των χρηστών και των επιχειρήσεων. Ο στόχος τους είναι να χρησιμοποιούν τη δημιουργικότητά τους
                                        για να δημιουργήσουν οπτικά ελκυστικά και φιλικά προς τον χρήστη προϊόντα.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-4">


                            <div class="card shadow mb-4" id="myButton" onclick="window.location.href = '/Students/AiSpecialistDirection'">
                                <div class="card-header py-2">
                                    <h6 class="m-0 font-weight-bold text-primary " style="text-align:center">
                                        Ειδικός Μηχανικής Μάθησης και Τεχνητής Νοημοσύνης
                                        @if (completedDirections.Contains(5))
                                        {
                                            <span class="completion-icon">&#10004;</span>
                                        }
                                        else
                                        {
                                            <span class="completion-icon">&#8987;</span>
                                        }
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 20rem;"
                                             src="~/img/AiSpecialist.png" alt="...">
                                    </div>
                                    <p align="justify">
                                        Ο ρόλος ενός  Ειδικού Μηχανικής Μάθησης και Τεχνητής Νοημοσύνης περιλαμβάνει την ανάπτυξη και εφαρμογή αλγορίθμων και μοντέλων μηχανικής μάθησης. Αναλύουν δεδομένα,
                                        εκπαιδεύουν μοντέλα και βελτιστοποιούν την απόδοση. Συνεργάζονται με ομάδες για την επίλυση σύνθετων προβλημάτων και εφαρμόζουν τεχνικές τεχνητής νοημοσύνης για να
                                        καταστήσουν δυνατή την αυτοματοποίηση, την πρόβλεψη και τη λήψη αποφάσεων σε διάφορους τομείς.
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-4">


                            <div class="card shadow mb-4" id="myButton" onclick="window.location.href = '/Students/WebDeveloperDirection'">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">
                                        Προγραμματιστής Web
                                        @if (completedDirections.Contains(6))
                                        {
                                            <span class="completion-icon">&#10004;</span>
                                        }
                                        else
                                        {
                                            <span class="completion-icon">&#8987;</span>
                                        }
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15.8rem;"
                                             src="~/img/WebDeveloper.webp" alt="...">
                                    </div>
                                    <p align="justify">
                                        Ο ρόλος του προγραμματιστή Web είναι να σχεδιάζει και να κατασκευάζει ιστοσελίδες χρησιμοποιώντας γλώσσες προγραμματισμού και τεχνολογίες ιστού.
                                        Δημιουργούν τη δομή, τη διάταξη και τη λειτουργικότητα των ιστότοπων, εξασφαλίζοντας την ανταπόκριση και τη βέλτιστη εμπειρία του χρήστη.
                                        Οι προγραμματιστές Web συνεργάζονται με πελάτες και ομάδες για την ανάπτυξη και τη συντήρηση οπτικά ελκυστικών και λειτουργικών εφαρμογών ιστού.
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    @if (completedDirections.Count == 6)
    {
        <div class="container">
            <div class=" align-bottom h4 " style="text-align:center">
                <button class=" styled-button" onclick="window.location.href = '/Students/RepeatQuiz'">Επαναληπτικό quiz </button>
            </div>
            <div class=" align-bottom h4 " style="text-align:center">
                <button class=" styled-button" onclick="window.location.href = '/Students/RecommendationQuiz'">Quiz Προτιμήσεων</button>
            </div>
        </div>
        if (ViewBag.RecommendationQuizDone == "true")
        {
            <br />
            <div class="h4 " style="text-align:center">
                <button class="alert-info" onclick="window.location.href = '/Students/SystemRecommendation'">Συστάσεις συστήματος</button>
            </div>
        }
    }
    else
    {
        <div class="container">
            <div class=" align-bottom h4 " style="text-align:center">
                <button disabled class=" styled-button" onclick="window.location.href = '/Students/RepeatQuiz'">Επαναληπτικό quiz </button>
            </div>
            <div class=" align-bottom h4 " style="text-align:center">
                <button disabled class=" styled-button" onclick="window.location.href = '/Students/RecommendationQuiz'">Quiz Συστάσεων</button>
            </div>

        </div>
        <p style="text-align:center" class="disabled-note">Αυτές οι δυνατότηες θα ξεκλειδωθούν οταν ολοκληρωθούν τα quiz όλων των κατευθύνσεων</p>

      
    }
   
    <br /><br />


    <!-- Bootstrap core JavaScript-->
    <script src="~/js/home/vendor/jquery/jquery.min.js"></script>
    <script src="~/js/home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>




    <!-- Page level plugins -->
    <script src="~/js/home/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/home/chart-area-demo.js"></script>
    <script src="~/js/home/chart-pie-demo.js"></script>







</body>

</html>

