<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/home/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/modalstyle.css">
    <style>

        #myButton {
            cursor: pointer;
        }

            #myButton:hover {
                background-color: #f6f6f6;
            }

            #myButton:focus {
                outline: none;
            }

        .container {
            display: flex;
        }

            .container img {
                width: 120px; /* adjust the size of the image as needed */
                height: 120px;
                margin-right: 20px; /* adjust the spacing between the image and paragraph */
            }

        .header {
            font-family: 'Segoe UI';
            font-style: italic;
            font-size: 19px;
            display: inline-block; /* Add display property */
            border-bottom: 2px solid #0D76FC; /* Border bottom instead of underline */
            padding-bottom: 2px;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body id="page-top">


    <!-- Hidden modal for Human Interaction lesson -->

    <div class="modal fade" id="HumanInterLesson" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header py-2 text-center" style="background-color:#f6f6f6;">

                    <h5 class="modal-title w-100 m-0 font-weight-bold text-primary " style="text-align:center" id="exampleModalCenterTitle">Αλληλεπίδραση Ανθρώπου Υπολογιστή</h5>

                    <button type="button" class="btn-close align-content-end" data-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <strong>Μαθησιακά Αποτελέσματα</strong>
                    <br /><br>

                    Με την ολοκλήρωση του μαθήματος οι φοιτητές/τριες θα είναι σε θέση:<br />
                    1. Να γνωρίζουν, να κατανοούν και να εξηγούν τις αρχές του σχεδιασμού ενός συστήματος
                    διεπαφής.<br />
                    2. Να σχεδιάζουν εύχρηστα συστήματα διεπαφής με τους χρήστες για οποιαδήποτε εφαρμογή.<br />
                    3. Να υλοποιούν συστήματα διεπαφής με τους χρήστες σε κάποια οπτική γλώσσα προγραμματισμού.<br />
                    4. Να αξιολογούν την ευχρηστία των συστημάτων διεπαφής που έχουν αναπτυχθεί από άλλους.<br />
                    5. Να προσδιορίζουν τις δυνατότητες και ικανότητες που μπορεί κανείς να περιμένει από τους
                    ανθρώπους χρήστες για σχεδιασμό βελτιωμένων, μελλοντικών αλληλεπιδραστικών συστημάτων.<br />
                    6. Να κατανοούν και να ταξινομούν εργασίες ιεραρχικά.<br />
                    7. Να εφαρμόζουν την ιεραρχική ανάλυση εργασιών.<br />
                    8. Να αντιλαμβάνονται τη σημαντικότητα της ύπαρξης βοήθειας σε ένα αλληλεπιδραστικό
                    σύστημα διεπαφής.<br />
                    9. Να αναγνωρίζουν τις μορφές βοήθειας που μπορεί να παρέχεται σε ένα αλληλεπιδραστικό
                    σύστημα διεπαφής.<br />
                    10. Να σχεδιάζουν και να αναπτύσσουν εύχρηστη βοήθεια σε ένα αλληλεπιδραστικό σύστημα
                    διεπαφής.<br />
                    11. Να αναγνωρίζουν τα διάφορα εγχειρίδια χρήσης που συνοδεύουν ένα αλληλεπιδραστικό
                    λογισμικό.<br />
                    <br /><br />


                    <table class="table table-striped table-bordered center" style="width:70%; text-align:center;" id="DT_load">

                        <thead>
                            <tr>
                                <th>
                                    Hard Skills
                                </th>
                                <th>
                                    Soft Skills
                                </th>
                            </tr>

                        </thead>

                        <tr>
                            <td>
                                Ανάλυση δεδομένων
                            </td>
                            <td>
                                Αποτελεσματικότητα σε διαφορετικά επαγγελματικά περιβάλλοντα
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Επιλογή και εφαρμογή μεθόδων αξιολόγησης
                            </td>
                            <td>
                                Εργασία σε διεθνές περιβάλλον
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ανάλυση απαιτήσεων χρηστών
                            </td>
                            <td>
                                Οργανωτικές δεξιότητες
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ανάπτυξη πρωτοτύπων και προσωμοιώσεων
                            </td>
                            <td>
                                Ομαδική εργασία
                            </td>
                        </tr>
                    </table>



                </div>

            </div>
        </div>
    </div>

    <!-- Hidden modal for GraphicDesigner lesson -->

    <div class="modal fade" id="GraphicDesignerLesson" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header py-2 text-center" style="background-color:#f6f6f6;">

                    <h5 class="modal-title w-100 m-0 font-weight-bold text-primary " style="text-align:center" id="exampleModalCenterTitle">Γραφιστική Σχεδίαση</h5>

                    <button type="button" class="btn-close align-content-end" data-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <strong>Μαθησιακά Αποτελέσματα</strong>
                    <br /><br>

                    Μετά την επιτυχή παρακολούθηση αυτού του μαθήματος, οι φοιτητές αναμένεται :<br />
                    1. να έχουν κατανοησει τις βασικες αρχες της γραφιστικής σχεδίασης. <br />
                    2. να ξερουν να εφαρμοζουν σχεδιαστικες αρχες σε γραφικά έργα. <br />
                    3. να ξερουν να χρησιμοποιουν γραφικα εργαλεία και λογισμικα. <br />
                    4. να εχουν κατανοησει τις βασικες αρχες της επικοινωνίας μέσω της γραφιστικής σχεδίασης. <br />
                     <br /><br />


                    <table class="table table-striped table-bordered center" style="width:70%; text-align:center;" id="DT_load">

                        <thead>
                            <tr>
                                <th>
                                    Hard Skills
                                </th>
                                <th>
                                    Soft Skills
                                </th>
                            </tr>

                        </thead>

                        <tr>
                            <td>
                                Κατανόηση των βασικών αρχών του σχεδιασμού
                            </td>
                            <td>
                                Κριτική σκέψη
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Χρωματική αρμονία και επιλογή χρωμάτων
                            </td>
                            <td>
                                Προβληματισμός
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Τυπογραφία
                            </td>
                            <td>
                                Οργανωτικές δεξιότητες
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Αξιολόγηση αβεβαιότητας
                            </td>
                            <td>
                                Επικοινωνία
                            </td>
                        </tr>
                    </table>



                </div>

            </div>
        </div>
    </div>

    <!-- Hidden modal for InternetTech lesson -->

    <div class="modal fade" id="InternetTechLesson" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header py-2 text-center" style="background-color:#f6f6f6;">

                    <h5 class="modal-title w-100 m-0 font-weight-bold text-primary " style="text-align:center" id="exampleModalCenterTitle">Τεχνολογίες Διαδικτύου</h5>

                    <button type="button" class="btn-close align-content-end" data-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <strong>Μαθησιακά Αποτελέσματα</strong>
                    <br /><br>

                    Με την επιτυχή ολοκλήρωση του μαθήματος ο φοιτητής / τρια θα είναι σε θέση να:<br />
                    1. Αναγνωρίζει τις βασικές αρχές των πρωτοκόλλων που στηρίζουν το Διαδίκτυο, με έμφαση στο
                    IP και το TCP.<br />
                    2. Έχει κατανοήσει τα βασικά χαρακτηριστικά εφαρμογών του διαδικτύου, τη δομή τους, τους
                    στόχους τους όπως και τη διασύνδεσή τους.<br />
                    3. Έχει διακρίνει και εμβαθύνει στις των βασικές τεχνικές και εργαλεία, η αξιοποίηση των οποίων
                    διασφαλίζει τον προγραμματισμό και τον άρτιο έλεγχο μιας τέτοιας εφαρμογής.<br />
                    4. Αξιοποιείτις προγραμματιστικές τεχνικές σε συνδυασμό με τη θεωρία του μαθήματος για αποδοτικότερο σχεδιασμό, βελτιστοποίση απόδοσης και λειτουργική/αποτελεσματική δημιουργία
                    εφαρμογών στο διαδίκτυο.<br />
                    5. Ααναλύει,συγκρίνει, αξολογεί και προτείνει εναλλακτικές σχετικά με υπάρχουσες διαδικτυακές εφαρμογές και πιθανά προβλήματα απόδοσής τους και με παραδοσιακές μεθόδους/εργαλεία.<br />
                    6. Συνεργάζεται με τους συμφοιτητές του στη δημιουργία και εκτέλεση απλών και σύνθετων εφαρμογών διαδικτύου.<br />
                    <br /><br />


                    <table class="table table-striped table-bordered center" style="width:70%; text-align:center;" id="DT_load">

                        <thead>
                            <tr>
                                <th>
                                    Hard Skills
                                </th>
                                <th>
                                    Soft Skills
                                </th>
                            </tr>

                        </thead>

                        <tr>
                            <td>
                                Κατανόηση του διαδικτυακού περιβάλλοντος
                            </td>
                            <td>
                                Κριτική σκέψη
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Προγραμματισμός ιστοσελίδων
                            </td>
                            <td>
                                Προαγωγή της ελεύθερης, δημιουργικής και επαγωγικής σκέψης
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Διαχείριση δεδομένων
                            </td>
                            <td>
                                Αναζήτηση, ανάλυση και σύνθεση δεδομένων και πληροφοριών, με τη χρήση και των απαραίτητων τεχνολογιών
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Αξιολόγηση αβεβαιότητας
                            </td>
                            <td>
                                Σχεδιασμός και διαχείριση έργων
                            </td>
                        </tr>
                    </table>



                </div>

            </div>
        </div>
    </div>

    <!-- Hidden modal for SoftTechLesson lesson -->

    <div class="modal fade" id="SoftTechLesson" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header py-2 text-center" style="background-color:#f6f6f6;">

                    <h5 class="modal-title w-100 m-0 font-weight-bold text-primary " style="text-align:center" id="exampleModalCenterTitle">Τεχνολογία Λογισμικού</h5>

                    <button type="button" class="btn-close align-content-end" data-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <strong>Μαθησιακά Αποτελέσματα</strong>
                    <br /><br>

                    Με την επιτυχή ολοκλήρωση αυτού του μαθήματος ο φοιτητής θα είναι σε θέση να:<br>
                    1. Συντάσσει δομημένα έγγραφα ανάλυσης απαιτήσεων λογισμικού.<br>
                    2. Σχεδιάζει αρχιτεκτονικά σχέδια λογισμικού βασισμένα σε γλώσσες μοντελοποίησης και
                    διαγράμματα.<br>
                    3. Παράγει κώδικα βασισμένο στο στάδιο του σχεδιασμού, ο οποίος θα ανταποκρίνεται στα
                    αντίστοιχα διαγράμματα.<br>
                    4. Χρησιμοποιεί το μοντέλο κύκλου ζωής λογισμικού Rational Unified Process.<br>
                    <br /><br />


                    <table class="table table-striped table-bordered center" style="width:70%; text-align:center;" id="DT_load">

                        <thead>
                            <tr>
                                <th>
                                    Hard Skills
                                </th>
                                <th>
                                    Soft Skills
                                </th>
                            </tr>

                        </thead>

                        <tr>
                            <td>
                                Γνώση και κατανόηση των μεθοδολογιών ανάπτυξης λογισμικού
                            </td>
                            <td>
                                Κριτική σκέψη
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Σχεδίαση και ανάπτυξη λογισμικού
                            </td>
                            <td>
                                Σχεδιασμός και διαχείριση έργων
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Οργάνωση και διαχείριση έργων λογισμικού
                            </td>
                            <td>
                                Παραγωγή νέων ερευνητικών ιδεών στο συγκεκριμένο πεδίο
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Γλώσσες προγραμματισμού
                            </td>
                            <td>
                                Προσαρμογή σε νέες καταστάσεις
                            </td>
                        </tr>
                    </table>

                </div>

            </div>
        </div>
    </div>


    <!-- Page Wrapper -->
    <div id="wrapper">


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="background-color:white;">

            <!-- Main Content -->
            <div id="content" style="background-color:white;">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center  justify-content-between mb-1">
                        <h1 class="h2 mb-10 text-gray-800 offset-0">
                            Σχεδιαστής Εμπειρίας Χρηστών
                        </h1>
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 10rem;"
                             src="~/img/UxDesigner.png" alt="...">

                    </div>
                    <p align="justify" style="font-family:courier;">

                        Ένας σχεδιαστής εμπειρίας χρηστών (User Experience Designer) είναι επαγγελματίας που ασχολείται με τον σχεδιασμό και τη βελτίωση της εμπειρίας των χρηστών κατά τη χρήση προϊόντων ή υπηρεσιών. Η εμπειρία των χρηστών αφορά τον τρόπο με τον οποίο αλληλεπιδρούν με ένα προϊόν ή μια υπηρεσία, καθώς και τις αντιδράσεις, τις ανάγκες και τις αναμονές τους κατά την πλοήγηση και την εκτέλεση καθηκόντων.

                        Ο σχεδιαστής εμπειρίας χρηστών έχει την ευθύνη να δημιουργήσει μια ολοκληρωμένη εμπειρία που συνδυάζει την ευχρηστία, την αποδοτικότητα και την αισθητική. Αυτό περιλαμβάνει την ανάλυση και την κατανόηση των αναγκών των χρηστών, τη σχεδίαση αλληλεπίδρασης και πληροφοριών, τη δημιουργία πρωτοτύπων για δοκιμές και την αξιολόγηση της χρηστικότητας.

                        Συνοψίζοντας, ένας σχεδιαστής εμπειρίας χρηστών αποτελεί σημαντικό μέλος μιας ομάδας ανάπτυξης προϊόντων ή υπηρεσιών και συμβάλλει στη δημιουργία ενός αποτελεσματικού, χρηστικού και ευχάριστου περιβάλλοντος για τους χρήστες.
                    </p>
                    <br>
                    <h4 class="header">Μαθήματα(4)</h4>
                    <br><br>
                    <!-- First Row -->
                    <div class="row">

                        <div class="col-lg-6 mb-4">


                            <div class="card shadow mb-4" id="myButton" data-toggle="modal" data-target="#HumanInterLesson">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">
                                        Αλληλεπίδραση Ανθρώπου Υπολογιστή
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/HumanInteractionLesson.png" alt="Your Photo">
                                        <p align="justify">
                                            Το μάθημα Αλληλεπίδραση Ανθρώπου-Υπολογιστή είναι ζωτικής σημασίας για έναν Σχεδιαστή Εμπειρίας Χρηστών.
                                            Από αυτό το μάθημα, ο σχεδιαστής μαθαίνει πώς να σχεδιάζει αλληλεπιδράσεις μεταξύ ανθρώπου και υπολογιστή που είναι αποδοτικές, ευχάριστες και ευαίσθητες 
                                            στις ανάγκες των χρηστών.

                                            Μέσα από το μάθημα, ο σχεδιαστής εκπαιδεύεται σε θέματα όπως η κατανόηση των χαρακτηριστικών των χρηστών, ο σχεδιασμός και η αξιολόγηση διεπαφών χρήστη, 
                                            ο σχεδιασμός πλοήγησης και αλληλεπίδρασης, και η χρήση εργαλείων πρωτοτύπων για την ανάπτυξη και τον έλεγχο σχεδιαστικών λύσεων.
                                            
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        

                        <div class="col-lg-6 mb-4">


                            <div class="card shadow mb-4" id="myButton" data-toggle="modal" data-target="#GraphicDesignerLesson">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Γραφιστική Σχεδίαση</h6>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/GraphicDesignerLesson.png" alt="Your Photo">
                                        <p align="justify">
                                            Το μάθημα Γραφιστική Σχεδίαση παρέχει βασικές γνώσεις και δεξιότητες στον τομέα της σχεδίασης γραφικών.
                                            Από αυτό το μάθημα, ο σχεδιαστής μαθαίνει για τα στοιχεία της σχεδίασης, την σύνθεση, τον χρωματισμό, τις γραφικές αρχές και τις τεχνικές
                                            σχεδίασης.

                                            Επίσης αποκτά την ικανότητα να σχεδιάζει ελκυστικά και λειτουργικά γραφικά στοιχεία για
                                            διεπαφές χρήστη.
                                            Αυτό το μάθημα επίσης βοηθάει τον σχεδιαστή να κατανοήσει την αισθητική, την σύνθεση χώρου και την ισορροπία στη σχεδίαση, δημιουργώντας
                                            έτσι ελκυστικές και ευχάριστες εμπειρίες χρήστη.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                    <!-- second Row -->
                    <div class="row">

                        


                        <div class="col-lg-6 mb-4">


                            <div class="card shadow mb-4" id="myButton" data-toggle="modal" data-target="#InternetTechLesson" >
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">
                                        Τεχνολογίες Διαδικτύου

                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/InternetTechLesson.png" alt="Your Photo">
                                        <p align="justify">

                                            Το μάθημα Τεχνολογίες Διαδικτύου παρεχει γνώσεις για τις
                                            διάφορες τεχνολογίες και πρωτόκολλα που χρησιμοποιούνται για την ανάπτυξη ιστοσελίδων και εφαρμογών διαδικτύου.

                                          
                                            Αυτό το μάθημα βοηθάει τον σχεδιαστή να κατανοήσει την τεχνική πλευρά της ανάπτυξης διαδικτυακών εφαρμογών, μαθαίνοντας βασικες γνώσεις σε
                                            γλώσσες προγραμματισμού όπως HTML, CSS και JavaScript, ώστε να μπορεί να
                                            συνεργάζεται αποτελεσματικά με ομάδες ανάπτυξης, να κατανοεί τις τεχνικές δυνατότητες και περιορισμούς των τεχνολογιών και να σχεδιάζει 
                                            χρηστοκεντρικές και τεχνικά εφικτές λύσεις για τη βελτίωση της εμπειρίας χρήστη σε διαδικτυακά περιβάλλοντα.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4">


                            <div class="card shadow mb-4" id="myButton" data-toggle="modal" data-target="#SoftTechLesson">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary " style="text-align:center">
                                        Τεχνολογία  Λογισμικού
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/SoftTechLesson.png" alt="Your Photo">
                                        <p align="justify">
                                            Το μάθημα Τεχνολογία Λογισμικού παρέχει τις βασικές γνώσεις σχετικά με την τεχνολογία που αφορά
                                            την ανάπτυξη λογισμικού. Από αυτό το μάθημα, ο σχεδιαστής μαθαίνει για τις διάφορες τεχνολογίες που χρησιμοποιούνται στην ανάπτυξη
                                            λογισμικού, όπως γλώσσες προγραμματισμού, πλατφόρμες ανάπτυξης, βάσεις δεδομένων και άλλα εργαλεία.

                                            Μέσω αυτού του μαθήματος, ο σχεδιαστής εμπειρίας χρηστών αποκτά κατανόηση για τον τρόπο με τον οποίο το λογισμικό αναπτύσσεται
                                            και λειτουργεί. Μετα την παρακολούθηση αυτού του μαθήματος θα μπορεί να σχεδιάσει και να αναπτύξει ρεαλιστικά και εκτελέσιμα σχέδια
                                            για βελτιωμένη εμπειρία χρήστη.
                                            <br />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <div class=" align-bottom h4 " style="text-align:center">
        <button class=" alert-success" onclick="window.location.href = '/Students/UxDesignerQuiz'">Κάνε το quiz! </button>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="~/js/home/vendor/jquery/jquery.min.js"></script>
    <script src="~/js/home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>




    <!-- Page level plugins -->
    <script src="~/js/home/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/home/chart-area-demo.js"></script>
    <script src="~/js/home/chart-pie-demo.js"></script>







</body>

</html>

