<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/home/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <style>

        #myButton {
            cursor: pointer;
        }

            #myButton:hover {
                background-color: #f6f6f6;
            }

            #myButton:focus {
                outline: none;
            }

        .container {
            display: flex;
        }

            .container img {
                width: 120px; /* adjust the size of the image as needed */
                height: 120px;
                margin-right: 20px; /* adjust the spacing between the image and paragraph */
            }

        .header {
            font-family: 'Segoe UI';
            font-style: italic;
            font-size: 19px;
            display: inline-block; /* Add display property */
            border-bottom: 2px solid #0D76FC; /* Border bottom instead of underline */
            padding-bottom: 2px;
        }
    </style>
</head>

<body id="page-top">


    <!-- Hidden modal for Human Interaction lesson -->
    <div id="HumanInterLesson" class="modal">
        <h1 style="text-align:center;">HumanInterLesson</h1>
        <br>
        <div class="center">
            <span onclick="document.getElementById('HumanInterLesson').style.display='none'" class="close" title="Close Modal">&times;</span>
            <br />

            <label>Σύμφωνα με τα παραπάνω το ολοκλήρωμα δίνει το εμβαδόν Ε(Ω) του χωρίου Ω που περικλείεται από τη γραφική παράσταση της f τον άξονα xʹx και τις ευθείες x = α και x = β.></label>
        </div>
        <br>
    </div>

    <!-- Hidden modal for GraphicDesigner lesson -->
    <div id="GraphicDesignerLesson" class="modal">
        <h1 style="text-align:center;">GraphicDesignerLesson</h1>
        <br>
        <div class="center">
            <span onclick="document.getElementById('GraphicDesignerLesson').style.display='none'" class="close" title="Close Modal">&times;</span>
            <br />

            <label>Σύμφωνα με τα παραπάνω το ολοκλήρωμα δίνει το εμβαδόν Ε(Ω) του χωρίου Ω που περικλείεται από τη γραφική παράσταση της f τον άξονα xʹx και τις ευθείες x = α και x = β.></label>
        </div>
        <br>
    </div>

    <!-- Hidden modal for InternetTech lesson -->
    <div id="InternetTechLesson" class="modal">
        <h1 style="text-align:center;">InternetTechLesson</h1>
        <br>
        <div class="center">
            <span onclick="document.getElementById('InternetTechLesson').style.display='none'" class="close" title="Close Modal">&times;</span>
            <br />

            <label>Σύμφωνα με τα παραπάνω το ολοκλήρωμα δίνει το εμβαδόν Ε(Ω) του χωρίου Ω που περικλείεται από τη γραφική παράσταση της f τον άξονα xʹx και τις ευθείες x = α και x = β.></label>
        </div>
        <br>
    </div>

    <!-- Hidden modal for SoftTechLesson lesson -->
    <div id="SoftTechLesson" class="modal">
        <h1 style="text-align:center;">SoftTechLesson</h1>
        <br>
        <div class="center">
            <span onclick="document.getElementById('SoftTechLesson').style.display='none'" class="close" title="Close Modal">&times;</span>
            <br />

            <label>Σύμφωνα με τα παραπάνω το ολοκλήρωμα δίνει το εμβαδόν Ε(Ω) του χωρίου Ω που περικλείεται από τη γραφική παράσταση της f τον άξονα xʹx και τις ευθείες x = α και x = β.></label>
        </div>
        <br>
    </div>


    <!-- Page Wrapper -->
    <div id="wrapper">


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="background-color:white;">

            <!-- Main Content -->
            <div id="content" style="background-color:white;">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center  justify-content-between mb-1">
                        <h1 class="h2 mb-10 text-gray-800 offset-0">
                            Σχεδιαστής Εμπειρίας Χρηστών
                        </h1>
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 10rem;"
                             src="~/img/UxDesigner.png" alt="...">

                    </div>
                    <p align="justify" style="font-family:courier;">

                        Ένας σχεδιαστής εμπειρίας χρηστών (User Experience Designer) είναι επαγγελματίας που ασχολείται με τον σχεδιασμό και τη βελτίωση της εμπειρίας των χρηστών κατά τη χρήση προϊόντων ή υπηρεσιών. Η εμπειρία των χρηστών αφορά τον τρόπο με τον οποίο αλληλεπιδρούν με ένα προϊόν ή μια υπηρεσία, καθώς και τις αντιδράσεις, τις ανάγκες και τις αναμονές τους κατά την πλοήγηση και την εκτέλεση καθηκόντων.

                        Ο σχεδιαστής εμπειρίας χρηστών έχει την ευθύνη να δημιουργήσει μια ολοκληρωμένη εμπειρία που συνδυάζει την ευχρηστία, την αποδοτικότητα και την αισθητική. Αυτό περιλαμβάνει την ανάλυση και την κατανόηση των αναγκών των χρηστών, τη σχεδίαση αλληλεπίδρασης και πληροφοριών, τη δημιουργία πρωτοτύπων για δοκιμές και την αξιολόγηση της χρηστικότητας.

                        Συνοψίζοντας, ένας σχεδιαστής εμπειρίας χρηστών αποτελεί σημαντικό μέλος μιας ομάδας ανάπτυξης προϊόντων ή υπηρεσιών και συμβάλλει στη δημιουργία ενός αποτελεσματικού, χρηστικού και ευχάριστου περιβάλλοντος για τους χρήστες.
                    </p>
                    <br>
                    <h4 class="header">Μαθήματα(4)</h4>
                    <br><br>
                    <!-- First Row -->
                    <div class="row">

                        <div class="col-lg-6 mb-4">


                            <div class="card shadow mb-4" id="myButton" onclick="document.getElementById('HumanInterLesson').style.display='block'">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">
                                        Αλληλεπίδραση Ανθρώπου Υπολογιστή
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/HumanInteractionLesson.png" alt="Your Photo">
                                        <p align="justify">
                                            Το μάθημα Αλληλεπίδραση Ανθρώπου-Υπολογιστή είναι ζωτικής σημασίας για έναν Σχεδιαστή Εμπειρίας Χρηστών.
                                            Από αυτό το μάθημα, ο σχεδιαστής μαθαίνει πώς να σχεδιάζει αλληλεπιδράσεις μεταξύ ανθρώπου και υπολογιστή που είναι αποδοτικές, ευχάριστες και ευαίσθητες 
                                            στις ανάγκες των χρηστών.

                                            Μέσα από το μάθημα, ο σχεδιαστής εκπαιδεύεται σε θέματα όπως η κατανόηση των χαρακτηριστικών των χρηστών, ο σχεδιασμός και η αξιολόγηση διεπαφών χρήστη, 
                                            ο σχεδιασμός πλοήγησης και αλληλεπίδρασης, και η χρήση εργαλείων πρωτοτύπων για την ανάπτυξη και τον έλεγχο σχεδιαστικών λύσεων.
                                            
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        

                        <div class="col-lg-6 mb-4">


                            <div class="card shadow mb-4" id="myButton" onclick="document.getElementById('GraphicDesignerLesson').style.display='block'">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Γραφιστική Σχεδίαση</h6>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/GraphicDesignerLesson.png" alt="Your Photo">
                                        <p align="justify">
                                            Το μάθημα Γραφιστική Σχεδίαση παρέχει βασικές γνώσεις και δεξιότητες στον τομέα της σχεδίασης γραφικών.
                                            Από αυτό το μάθημα, ο σχεδιαστής μαθαίνει για τα στοιχεία της σχεδίασης, την σύνθεση, τον χρωματισμό, τις γραφικές αρχές και τις τεχνικές
                                            σχεδίασης.

                                            Επίσης αποκτά την ικανότητα να σχεδιάζει ελκυστικά και λειτουργικά γραφικά στοιχεία για
                                            διεπαφές χρήστη.
                                            Αυτό το μάθημα επίσης βοηθάει τον σχεδιαστή να κατανοήσει την αισθητική, την σύνθεση χώρου και την ισορροπία στη σχεδίαση, δημιουργώντας
                                            έτσι ελκυστικές και ευχάριστες εμπειρίες χρήστη.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                    <!-- second Row -->
                    <div class="row">

                        


                        <div class="col-lg-6 mb-4">


                            <div class="card shadow mb-4" id="myButton" onclick="document.getElementById('InternetTechLesson').style.display='block'">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">
                                        Τεχνολογίες Διαδικτύου

                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/InternetTechLesson.png" alt="Your Photo">
                                        <p align="justify">

                                            Το μάθημα Τεχνολογίες Διαδικτύου παρεχει γνώσεις για τις
                                            διάφορες τεχνολογίες και πρωτόκολλα που χρησιμοποιούνται για την ανάπτυξη ιστοσελίδων και εφαρμογών διαδικτύου.

                                          
                                            Αυτό το μάθημα βοηθάει τον σχεδιαστή να κατανοήσει την τεχνική πλευρά της ανάπτυξης διαδικτυακών εφαρμογών, μαθαίνοντας βασικες γνώσεις σε
                                            γλώσσες προγραμματισμού όπως HTML, CSS και JavaScript, ώστε να μπορεί να
                                            συνεργάζεται αποτελεσματικά με ομάδες ανάπτυξης, να κατανοεί τις τεχνικές δυνατότητες και περιορισμούς των τεχνολογιών και να σχεδιάζει 
                                            χρηστοκεντρικές και τεχνικά εφικτές λύσεις για τη βελτίωση της εμπειρίας χρήστη σε διαδικτυακά περιβάλλοντα.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4">


                            <div class="card shadow mb-4" id="myButton" onclick="document.getElementById('SoftTechLesson').style.display='block'">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary " style="text-align:center">
                                        Τεχνολογία  Λογισμικού
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <img src="~/img/SoftTechLesson.png" alt="Your Photo">
                                        <p align="justify">
                                            Το μάθημα Τεχνολογία Λογισμικού παρέχει τις βασικές γνώσεις σχετικά με την τεχνολογία που αφορά
                                            την ανάπτυξη λογισμικού. Από αυτό το μάθημα, ο σχεδιαστής μαθαίνει για τις διάφορες τεχνολογίες που χρησιμοποιούνται στην ανάπτυξη
                                            λογισμικού, όπως γλώσσες προγραμματισμού, πλατφόρμες ανάπτυξης, βάσεις δεδομένων και άλλα εργαλεία.

                                            Μέσω αυτού του μαθήματος, ο σχεδιαστής εμπειρίας χρηστών αποκτά κατανόηση για τον τρόπο με τον οποίο το λογισμικό αναπτύσσεται
                                            και λειτουργεί. Μετα την παρακολούθηση αυτού του μαθήματος θα μπορεί να σχεδιάσει και να αναπτύξει ρεαλιστικά και εκτελέσιμα σχέδια
                                            για βελτιωμένη εμπειρία χρήστη.
                                            <br />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <br />
    <br />
    <br />


    <!-- Bootstrap core JavaScript-->
    <script src="~/js/home/vendor/jquery/jquery.min.js"></script>
    <script src="~/js/home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>




    <!-- Page level plugins -->
    <script src="~/js/home/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/home/chart-area-demo.js"></script>
    <script src="~/js/home/chart-pie-demo.js"></script>







</body>

</html>

